openapi: 3.0.1
info:
  title: Equinix API Authentication Ports API
  description: 'Equinix APIs use the OAuth 2.0 for authentication and authorization. Equinix supports the resource owner password and the client credentials flow.

    To begin, obtain OAuth 2.0 client credentials from the Equinix Developer Console under "My Apps". Then your client application  requests an access token from the Equinix API Authorization endpoint, extracts the access_token from the response, and sends the Bearer token to the API that you want to access'
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
  version: '1.2'
servers:
- url: https://api.equinix.com
tags:
- description: 'Port ManagementCheck out the product docs to learn more about [Port configurations](https://metal.equinix.com/developers/docs/layer2-networking/overview/).

    '
  externalDocs:
    url: https://metal.equinix.com/developers/docs/layer2-networking/overview/
  name: Ports
paths:
  /ports/{id}:
    get:
      description: Returns a port
      operationId: findPortById
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve a port
      tags:
      - Ports
  /ports/{id}/assign:
    post:
      description: Assign a hardware port to a virtual network.
      operationId: assignPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortAssignInput'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Assign a port to virtual network
      tags:
      - Ports
  /ports/{id}/bond:
    post:
      description: Enabling bonding for one or all ports
      operationId: bondPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: enable both ports
        in: query
        name: bulk_enable
        schema:
          type: boolean
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Enabling bonding
      tags:
      - Ports
  /ports/{id}/convert/layer-2:
    post:
      description: Converts a bond port to Layer 2. IP assignments of the port will be removed.
      operationId: convertLayer2
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortAssignInput'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Convert to Layer 2
      tags:
      - Ports
  /ports/{id}/convert/layer-3:
    post:
      description: Converts a bond port to Layer 3. VLANs must first be unassigned.
      operationId: convertLayer3
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortConvertLayer3Input'
        description: IPs to request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Convert to Layer 3
      tags:
      - Ports
  /ports/{id}/disbond:
    post:
      description: Disabling bonding for one or all ports
      operationId: disbondPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: disable both ports
        in: query
        name: bulk_disable
        schema:
          type: boolean
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Disabling bonding
      tags:
      - Ports
  /ports/{id}/native-vlan:
    delete:
      description: Removes the native VLAN from this port
      operationId: deleteNativeVlan
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Remove native VLAN
      tags:
      - Ports
    post:
      description: Sets a virtual network on this port as a "native VLAN". The VLAN must have already been assigned using the using the "Assign a port to a virtual network" operation.
      operationId: assignNativeVlan
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself (ex: ''1001'').'
        in: query
        name: vnid
        required: true
        schema:
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Assign a native VLAN
      tags:
      - Ports
  /ports/{id}/unassign:
    post:
      description: Unassign a port for a hardware.
      operationId: unassignPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortAssignInput'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Unassign a port
      tags:
      - Ports
  /ports/{id}/vlan-assignments:
    get:
      description: Show the port's current VLAN assignments, including if this VLAN is set as native, and the current state of the assignment (ex. 'assigned' or 'unassigning')
      operationId: findPortVlanAssignments
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their full attributes. Attribute names can be dotted (up to 3 levels) to included deeply nested objects.
        in: query
        name: include
        schema:
          default:
          - port
          - virtual_network
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: List Current VLAN assignments for a port
      tags:
      - Ports
  /ports/{id}/vlan-assignments/{assignment_id}:
    get:
      description: Show the details of a specific Port-VLAN assignment, including the current state and if the VLAN is set as native.
      operationId: findPortVlanAssignmentByPortIdAndAssignmentId
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Assignment ID
        in: path
        name: assignment_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their full attributes. Attribute names can be dotted (up to 3 levels) to included deeply nested objects.
        in: query
        name: include
        schema:
          default:
          - port
          - virtual_network
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignment'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Show a particular Port VLAN assignment's details
      tags:
      - Ports
  /ports/{id}/vlan-assignments/batches:
    get:
      description: Show all the VLAN assignment batches that have been created for managing this port's VLAN assignments
      operationId: findPortVlanAssignmentBatches
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentBatchList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: List the VLAN Assignment Batches for a port
      tags:
      - Ports
    post:
      description: Create a new asynchronous batch request which handles adding and/or removing the VLANs to which the port is assigned.
      operationId: createPortVlanAssignmentBatch
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortVlanAssignmentBatchCreateInput'
        description: VLAN Assignment batch details
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentBatch'
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a new Port-VLAN Assignment management batch
      tags:
      - Ports
  /ports/{id}/vlan-assignments/batches/{batch_id}:
    get:
      description: Returns the details of an existing Port-VLAN Assignment batch, including the list of VLANs to assign or unassign, and the current state of the batch.
      operationId: findPortVlanAssignmentBatchByPortIdAndBatchId
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentBatch'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve a VLAN Assignment Batch's details
      tags:
      - Ports
  /fabric/v4/ports:
    get:
      tags:
      - Ports
      summary: Get All Ports
      description: Get All Ports returns details of all assigned and available ports for the specified user credentials. The metro attribute in the response shows the origin of the proposed connection.
      operationId: getPorts
      parameters:
      - name: name
        in: query
        description: port name to be provided if specific port(s) to be retrieved
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllPortsResponse'
              examples:
                portExample:
                  $ref: '#/components/examples/ports'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403'
        '500':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                portExample:
                  $ref: '#/components/examples/ports-500'
                userFailureExample:
                  $ref: '#/components/examples/ports-500-user-failure'
    post:
      tags:
      - Ports
      summary: Create Port
      description: Creates Equinix Fabric? Port.
      operationId: createPort
      parameters:
      - name: dryRun
        in: query
        description: option to verify that API calls will succeed
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortRequest'
            examples:
              COLOSinglePortNonLag:
                $ref: '#/components/examples/coloSinglePortNonLag'
              COLOSinglePortLag:
                $ref: '#/components/examples/coloSinglePortLag'
              COLOUnlimitedPlusPortLag:
                $ref: '#/components/examples/coloUnlimitedPlusPortLag'
              COLOLagPortNewGroup:
                $ref: '#/components/examples/coloLagPortNewGroup'
              COLOAddSecondaryPort:
                $ref: '#/components/examples/coloAddSecondaryPort'
              COLOSinglePortNonLagDryRun:
                $ref: '#/components/examples/COLOSinglePortNonLagCreateDryRun'
              COLOSinglePortLagDryRun:
                $ref: '#/components/examples/COLOSinglePortLagCreateDryRun'
              REMOTESinglePortLag:
                $ref: '#/components/examples/remoteSinglePortNewGroupLagRequest'
              BMMRSinglePortLag:
                $ref: '#/components/examples/bmmrSinglePortLag'
              BMMRSinglePortNoLag:
                $ref: '#/components/examples/bmmrSinglePortNoLag'
              BMMRAddSecondaryPort:
                $ref: '#/components/examples/bmmrAddSecondaryPort'
              BMMRLagPortNewGroup:
                $ref: '#/components/examples/bmmrLagPortNewGroup'
              IXPublicPrivatePeeringPort:
                $ref: '#/components/examples/createIXPublicPrivatePeeringPortRequest'
              IXPublicPeeringPort:
                $ref: '#/components/examples/createIXPublicPeeringPortRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_2'
              examples:
                portDryRunExample:
                  $ref: '#/components/examples/PortCreateDryRunResponse'
                bmmrPortDryRunExample:
                  $ref: '#/components/examples/bmmrSinglePortCreateDryRunResponse'
                remotePortDryRunExample:
                  $ref: '#/components/examples/remoteSinglePortCreateDryRunResponse'
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_2'
              examples:
                COLOSinglePortNonLag:
                  $ref: '#/components/examples/coloSinglePortNonLagResponse'
                BMMRSinglePortLag:
                  $ref: '#/components/examples/bmmrSinglePortLagResponse'
                REMOTESinglePortLag:
                  $ref: '#/components/examples/remoteSinglePortLagResponse'
                REMOTESinglePortLagWithOrderExemption:
                  $ref: '#/components/examples/remoteSinglePortLagWithPurchaseOrderExemption'
                IXPublicPrivatePeeringPort:
                  $ref: '#/components/examples/createIXPublicPrivatePeeringPortResponse'
                IXPublicPeeringPort:
                  $ref: '#/components/examples/createIXPublicPeeringPortResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                validationError:
                  $ref: '#/components/examples/port-400'
                badRequest:
                  $ref: '#/components/examples/createPortBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/401'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/port-500'
  /fabric/v4/ports/{portId}/physicalPorts/bulk:
    post:
      tags:
      - Ports
      summary: Add to Lag
      description: Add Physical Ports to Virtual Port.<font color="red"> <sup color='red'>Preview</sup></font>
      operationId: addToLag
      parameters:
      - name: portId
        in: path
        description: Port UUID
        required: true
        schema:
          $ref: '#/components/schemas/PortUUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPhysicalPort'
            examples:
              COLOAddToLag:
                $ref: '#/components/examples/coloAddToLag'
              REMOTEAddToLag:
                $ref: '#/components/examples/remoteAddToLag'
              BMMRAddToLag:
                $ref: '#/components/examples/bmmrAddToLag'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllPhysicalPortsResponse'
              examples:
                COLOAddToLag:
                  $ref: '#/components/examples/coloAddToLagResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/port-400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/port-500'
  /fabric/v4/ports/{portId}:
    get:
      tags:
      - Ports
      summary: Get Port by uuid
      description: Get Port By uuid returns details of assigned and available Equinix Fabric port for the specified user credentials. The metro code attribute in the response shows the origin of the proposed connection.
      operationId: getPortByUuid
      parameters:
      - name: portId
        in: path
        description: Port UUID
        required: true
        schema:
          $ref: '#/components/schemas/PortUUID'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_2'
              examples:
                portExample:
                  $ref: '#/components/examples/portByUUID'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/500'
    delete:
      tags:
      - Ports
      summary: Delete a single port
      description: The API provides capability to delete a single port
      operationId: deletePort
      parameters:
      - name: portId
        in: path
        description: Port UUID
        required: true
        schema:
          $ref: '#/components/schemas/PortUUID'
      - name: dryRun
        in: query
        description: option to verify that API calls will succeed
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_2'
              examples:
                portDryRunExample:
                  $ref: '#/components/examples/portDryRunDelete'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_2'
              examples:
                portExample:
                  $ref: '#/components/examples/portDelete'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
    patch:
      tags:
      - Ports
      summary: Update by UUID
      description: Update Port by UUID
      operationId: updatePortByUuid
      parameters:
      - name: portId
        in: path
        description: Port UUID
        required: true
        schema:
          $ref: '#/components/schemas/PortUUID'
      - name: dryRun
        in: query
        description: option to verify that API calls will succeed
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PortUpdateRequest'
            examples:
              PortUpdateNameRequest:
                $ref: '#/components/examples/portUpdateNameRequest'
              PortUpdateEncapsulationAndTagprotocolIdRequest:
                $ref: '#/components/examples/portUpdateEncapsulationAndTagProtocolIdRequest'
              PortUpdateNameDryRunRequest:
                $ref: '#/components/examples/PortUpdateNameDryRunRequest'
              PortUpdateLagEnabledRequest:
                $ref: '#/components/examples/portUpdateLagEnabledRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllPortsResponse'
              examples:
                portDryRunExample:
                  $ref: '#/components/examples/PortUpdateDryRunResponse'
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_2'
              examples:
                portExample:
                  $ref: '#/components/examples/portPatchResponse202'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                InvalidUUID:
                  $ref: '#/components/examples/400'
                ResourceUsedError:
                  $ref: '#/components/examples/portPatchMultipleConnections400Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
              examples:
                example:
                  $ref: '#/components/examples/500'
  /fabric/v4/ports/{portUuid}/linkProtocols:
    get:
      tags:
      - Ports
      summary: Get Vlans
      description: The API provides capability to retrieve Vlans for a Port.
      operationId: getVlans
      parameters:
      - name: portUuid
        in: path
        description: Port UUID
        required: true
        schema:
          $ref: '#/components/schemas/PortUUID'
      responses:
        '200':
          description: Get Vlans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkProtocolGetResponse'
              examples:
                LinkProtocolQ1NQResponse:
                  $ref: '#/components/examples/LinkProtocolGetQinqResponseExample'
                LinkProtocolDOT1QResponse:
                  $ref: '#/components/examples/LinkProtocolGetDot1qResponseExample'
                LinkProtocolVlanRangeResponse:
                  $ref: '#/components/examples/LinkProtocolGetVlanRangeResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_portId'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403-port-access'
  /fabric/v4/ports/search:
    post:
      tags:
      - Ports
      summary: Search ports
      description: The API provides capability to get list of user's virtual ports using search criteria, including optional filtering, pagination and sorting
      operationId: searchPorts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortV4SearchRequest'
            examples:
              PortSearchDirection:
                $ref: '#/components/examples/portSearchByProjectId'
              PortSearchOptionalFilter:
                $ref: '#/components/examples/portSearchByOptionalFilters'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllPortsResponse'
              examples:
                portExample:
                  $ref: '#/components/examples/ports'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                invalidUuid:
                  $ref: '#/components/examples/400'
                invalidProjectIdRequest:
                  $ref: '#/components/examples/portSearchInvalidProjectRequest'
                invalidRequest:
                  $ref: '#/components/examples/portSearchInvalidRequest'
                invalidSearchFieldProperty:
                  $ref: '#/components/examples/portSearchInvalidSearchFieldProperty'
                invalidSearchFieldArgument:
                  $ref: '#/components/examples/portSearchInvalidSearchFieldArgument'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '500':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                portExample:
                  $ref: '#/components/examples/ports-500'
                userFailureExample:
                  $ref: '#/components/examples/ports-500-user-failure'
components:
  schemas:
    PortAssignInput:
      example:
        vnid: '1001'
      properties:
        vnid:
          description: 'Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself.

            '
          example: '1001'
          type: string
      type: object
    Port:
      description: Port is a hardware port associated with a reserved or instantiated hardware device.
      example:
        native_virtual_network:
          vxlan: 4
          instances:
          - href: href
          - href: href
          description: description
          created_at: 2000-01-23 04:56:07+00:00
          assigned_to_virtual_circuit: true
          tags:
          - tags
          - tags
          metal_gateways:
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          metro_code: metro_code
          metro:
            href: href
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          facility:
            href: href
          assigned_to:
            href: href
        disbond_operation_supported: true
        data:
          bonded: true
          mac: mac
        name: bond0
        virtual_networks:
        - href: href
        - href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: null
        network_type: null
        bond:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        bond:
          $ref: '#/components/schemas/BondPortData'
        data:
          $ref: '#/components/schemas/PortData'
        disbond_operation_supported:
          description: Indicates whether or not the bond can be broken on the port (when applicable).
          type: boolean
        href:
          type: string
        id:
          format: uuid
          type: string
        name:
          example: bond0
          type: string
        type:
          $ref: '#/components/schemas/Port_type'
        network_type:
          $ref: '#/components/schemas/Port_network_type'
        native_virtual_network:
          $ref: '#/components/schemas/VirtualNetwork'
        virtual_networks:
          items:
            $ref: '#/components/schemas/Href'
          type: array
      type: object
    PortVlanAssignmentBatch:
      example:
        quantity: 0
        updated_at: 2000-01-23 04:56:07+00:00
        port:
          native_virtual_network:
            vxlan: 4
            instances:
            - href: href
            - href: href
            description: description
            created_at: 2000-01-23 04:56:07+00:00
            assigned_to_virtual_circuit: true
            tags:
            - tags
            - tags
            metal_gateways:
            - gateway_address: 10.1.2.1/27
              updated_at: 2000-01-23 04:56:07+00:00
              vlan: 1001
              created_at: 2000-01-23 04:56:07+00:00
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              state: null
            - gateway_address: 10.1.2.1/27
              updated_at: 2000-01-23 04:56:07+00:00
              vlan: 1001
              created_at: 2000-01-23 04:56:07+00:00
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              state: null
            metro_code: metro_code
            metro:
              href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            facility:
              href: href
            assigned_to:
              href: href
          disbond_operation_supported: true
          data:
            bonded: true
            mac: mac
          name: bond0
          virtual_networks:
          - href: href
          - href: href
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: null
          network_type: null
          bond:
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23 04:56:07+00:00
        project:
          href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
        error_messages:
        - error_messages
        - error_messages
        vlan_assignments:
        - vlan: 6
          native: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - vlan: 6
          native: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
      properties:
        created_at:
          format: date-time
          type: string
        error_messages:
          items:
            type: string
          type: array
        id:
          format: uuid
          type: string
        port:
          $ref: '#/components/schemas/Port'
        quantity:
          type: integer
        state:
          $ref: '#/components/schemas/PortVlanAssignmentBatch_state'
        updated_at:
          format: date-time
          type: string
        vlan_assignments:
          items:
            $ref: '#/components/schemas/PortVlanAssignmentBatch_vlan_assignments_inner'
          type: array
        project:
          $ref: '#/components/schemas/Href'
      type: object
    PortVlanAssignmentBatchList:
      example:
        batches:
        - quantity: 0
          updated_at: 2000-01-23 04:56:07+00:00
          port:
            native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23 04:56:07+00:00
          project:
            href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          error_messages:
          - error_messages
          - error_messages
          vlan_assignments:
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
        - quantity: 0
          updated_at: 2000-01-23 04:56:07+00:00
          port:
            native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23 04:56:07+00:00
          project:
            href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          error_messages:
          - error_messages
          - error_messages
          vlan_assignments:
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
      properties:
        batches:
          items:
            $ref: '#/components/schemas/PortVlanAssignmentBatch'
          type: array
      type: object
    PortVlanAssignment_state:
      enum:
      - assigned
      - unassigning
      type: string
    PortVlanAssignmentList:
      example:
        vlan_assignments:
        - virtual_network:
            href: href
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 0
          native: true
          port:
            href: href
          created_at: 2000-01-23 04:56:07+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - virtual_network:
            href: href
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 0
          native: true
          port:
            href: href
          created_at: 2000-01-23 04:56:07+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
      properties:
        vlan_assignments:
          items:
            $ref: '#/components/schemas/PortVlanAssignment'
          type: array
      type: object
    PortData:
      example:
        bonded: true
        mac: mac
      properties:
        mac:
          description: MAC address is set for NetworkPort ports
          type: string
        bonded:
          description: Bonded is true for NetworkPort ports in a bond and NetworkBondPort ports that are active
          type: boolean
      type: object
    PortConvertLayer3Input:
      example:
        request_ips:
        - address_family: 0
          public: true
        - address_family: 0
          public: true
      properties:
        request_ips:
          items:
            $ref: '#/components/schemas/PortConvertLayer3Input_request_ips_inner'
          type: array
      type: object
    BondPortData:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: ID of the bonding port
          format: uuid
          type: string
        name:
          description: Name of the port interface for the bond ("bond0")
          type: string
      type: object
    PortVlanAssignment:
      example:
        virtual_network:
          href: href
        updated_at: 2000-01-23 04:56:07+00:00
        vlan: 0
        native: true
        port:
          href: href
        created_at: 2000-01-23 04:56:07+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        native:
          type: boolean
        port:
          $ref: '#/components/schemas/Href'
        state:
          $ref: '#/components/schemas/PortVlanAssignment_state'
        updated_at:
          format: date-time
          type: string
        virtual_network:
          $ref: '#/components/schemas/Href'
        vlan:
          type: integer
      type: object
    PortConvertLayer3Input_request_ips_inner:
      example:
        address_family: 0
        public: true
      properties:
        address_family:
          type: integer
        public:
          type: boolean
      type: object
    PortVlanAssignmentBatchCreateInput:
      example:
        vlan_assignments:
        - vlan: vlan
          native: true
          state: null
        - vlan: vlan
          native: true
          state: null
      properties:
        vlan_assignments:
          items:
            $ref: '#/components/schemas/PortVlanAssignmentBatchCreateInput_vlan_assignments_inner'
          type: array
      type: object
    Port_type:
      description: Type is either "NetworkBondPort" for bond ports or "NetworkPort" for bondable ethernet ports
      enum:
      - NetworkPort
      - NetworkBondPort
      type: string
    VirtualNetwork:
      example:
        vxlan: 4
        instances:
        - href: href
        - href: href
        description: description
        created_at: 2000-01-23 04:56:07+00:00
        assigned_to_virtual_circuit: true
        tags:
        - tags
        - tags
        metal_gateways:
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        metro_code: metro_code
        metro:
          href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        facility:
          href: href
        assigned_to:
          href: href
      properties:
        assigned_to:
          $ref: '#/components/schemas/Href'
        assigned_to_virtual_circuit:
          description: True if the virtual network is attached to a virtual circuit. False if not.
          type: boolean
        description:
          type: string
        facility:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        instances:
          description: A list of instances with ports currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/Href'
          type: array
        metal_gateways:
          description: A list of metal gateways currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/MetalGatewayLite'
          type: array
        metro:
          $ref: '#/components/schemas/Href'
        metro_code:
          description: The Metro code of the metro in which this Virtual Network is defined.
          type: string
        vxlan:
          type: integer
        tags:
          items:
            type: string
          type: array
      type: object
    Port_network_type:
      description: Composite network type of the bond
      enum:
      - layer2-bonded
      - layer2-individual
      - layer3
      - hybrid
      - hybrid-bonded
      type: string
    MetalGatewayLite:
      example:
        gateway_address: 10.1.2.1/27
        updated_at: 2000-01-23 04:56:07+00:00
        vlan: 1001
        created_at: 2000-01-23 04:56:07+00:00
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        created_at:
          format: date-time
          type: string
        gateway_address:
          description: The gateway address with subnet CIDR value for this Metal Gateway. For example, a Metal Gateway using an IP reservation with block 10.1.2.0/27 would have a gateway address of 10.1.2.1/27.
          example: 10.1.2.1/27
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        vlan:
          description: The VLAN id of the Virtual Network record associated to this Metal Gateway.
          example: 1001
          type: integer
      type: object
    PortVlanAssignmentBatch_state:
      enum:
      - queued
      - in_progress
      - completed
      - failed
      type: string
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    PortVlanAssignmentBatch_vlan_assignments_inner_state:
      enum:
      - assigned
      - unassigned
      type: string
    MetalGateway_state:
      description: The current state of the Metal Gateway. 'Ready' indicates the gateway record has been configured, but is currently not active on the network. 'Active' indicates the gateway has been configured on the network. 'Deleting' is a temporary state used to indicate that the gateway is in the process of being un-configured from the network, after which the gateway record will be deleted.
      enum:
      - ready
      - active
      - deleting
      type: string
    PortVlanAssignmentBatch_vlan_assignments_inner:
      example:
        vlan: 6
        native: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        id:
          format: uuid
          type: string
        native:
          type: boolean
        state:
          $ref: '#/components/schemas/PortVlanAssignmentBatch_vlan_assignments_inner_state'
        vlan:
          type: integer
      type: object
    Href:
      example:
        href: href
      properties:
        href:
          type: string
      required:
      - href
      type: object
    PortVlanAssignmentBatchCreateInput_vlan_assignments_inner:
      example:
        vlan: vlan
        native: true
        state: null
      properties:
        native:
          type: boolean
        state:
          $ref: '#/components/schemas/PortVlanAssignmentBatch_vlan_assignments_inner_state'
        vlan:
          type: string
      type: object
    PortRequest:
      required:
      - account
      - connectivitySourceType
      - encapsulation
      - location
      - physicalPortsSpeed
      - physicalPortsType
      - settings
      - type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PortType'
        name:
          type: string
          description: Equinix assigned response attribute for Port name
        description:
          type: string
          description: Equinix assigned response attribute for Port description
        physicalPortsSpeed:
          minimum: 0
          type: integer
          description: Physical Ports Speed in Mbps
        physicalPortsType:
          type: string
          description: Physical Ports Type. 10GBASE_SMF and 400GBASE_LR4 are only used for IX ports
          enum:
          - 1000BASE_LX
          - 10GBASE_LR
          - 100GBASE_LR4
          - 10GBASE_ER
          - 1000BASE_SX
          - 10GBASE_SMF
          - 400GBASE_LR4
        physicalPortsCount:
          type: integer
        connectivitySourceType:
          type: string
          description: Port connectivity type
          enum:
          - COLO
          - BMMR
          - REMOTE
        bmmrType:
          type: string
          enum:
          - SELF
          - EQUINIX
        project:
          $ref: '#/components/schemas/Project'
        state:
          $ref: '#/components/schemas/PortState'
        order:
          $ref: '#/components/schemas/PortOrder'
        account:
          $ref: '#/components/schemas/SimplifiedAccount'
        serviceType:
          type: string
          description: Port service Type
          deprecated: true
          enum:
          - EPL
          - MSP
        serviceCode:
          $ref: '#/components/schemas/PortServiceCode'
        bandwidth:
          minimum: 0
          type: integer
          description: Equinix assigned response attribute for Port bandwidth in Mbps
          deprecated: true
        location:
          $ref: '#/components/schemas/SimplifiedLocation'
        device:
          $ref: '#/components/schemas/PortDevice'
        interface:
          $ref: '#/components/schemas/PortInterface'
        demarcationPointIbx:
          type: string
          description: A-side/Equinix ibx
        tetherIbx:
          type: string
          description: z-side/Equinix ibx
        demarcationPoint:
          $ref: '#/components/schemas/PortDemarcationPoint'
        redundancy:
          $ref: '#/components/schemas/PortRedundancy'
        encapsulation:
          $ref: '#/components/schemas/PortEncapsulation'
        lagEnabled:
          type: boolean
          description: If LAG enabled
        lag:
          allOf:
          - $ref: '#/components/schemas/PortLag'
        asn:
          type: integer
          description: Port ASN
        package:
          $ref: '#/components/schemas/Package'
        settings:
          $ref: '#/components/schemas/PortSettings'
        physicalPortQuantity:
          type: integer
          description: Number of physical ports
        notifications:
          type: array
          description: Notification preferences
          items:
            $ref: '#/components/schemas/PortNotification'
        additionalInfo:
          type: array
          description: Port additional information
          items:
            $ref: '#/components/schemas/PortAdditionalInfo'
        physicalPorts:
          type: array
          description: Physical ports that implement this port
          items:
            $ref: '#/components/schemas/PhysicalPort'
        loas:
          type: array
          description: Port Loas
          items:
            $ref: '#/components/schemas/PortLoa'
      description: PortRequest is the Request Object for creating single and bulk fabric ports
    PortServiceCode:
      type: string
      description: type of product
      enum:
      - CX
      - IX
      - IA
      - MC
    PortState:
      type: string
      description: Port lifecycle state
      enum:
      - PENDING
      - PROVISIONING
      - REPROVISIONING
      - PENDING_CROSS_CONNECT
      - PROVISIONED
      - ACTIVE
      - DEPROVISIONING
      - DEPROVISIONED
      - INACTIVE
      - FAILED
      - ADDED
      - DELETED
      - TO_BE_ADDED
      - TO_BE_DELETED
    PortPriority:
      type: string
      description: Port priority in redundancy group
      enum:
      - PRIMARY
      - SECONDARY
    PortInterface:
      type: object
      properties:
        type:
          type: string
          description: Port interface type
      description: Port interface
    EndCustomer:
      type: object
      properties:
        isDisclosed:
          type: boolean
          description: Indicate if endCustomer info should be disclosed or not
          default: false
        name:
          type: string
        mdmId:
          type: string
    PortUUID:
      type: string
      description: Port UUID
      format: uuid
    PhysicalPortType:
      type: string
      description: Type of Port
      enum:
      - XF_PHYSICAL_PORT
    PaginationRequest:
      type: object
      properties:
        offset:
          minimum: 0
          type: integer
          description: Index of the first element.
          default: 0
        limit:
          minimum: 1
          type: integer
          description: Number of elements to be requested per page. Number must be between 1 and 100, and the default is 20.
          default: 20
      description: Pagination request information
    PortType:
      type: string
      description: Type of Port
      enum:
      - XF_PORT
    PortUpdateRequest:
      minItems: 1
      type: array
      description: Port Update Request
      items:
        $ref: '#/components/schemas/PortChangeOperation'
    PortEncapsulation:
      type: object
      properties:
        type:
          type: string
          description: Port encapsulation protocol type
          enum:
          - 'NULL'
          - DOT1Q
          - QINQ
          - UNTAGGED
        tagProtocolId:
          type: string
          description: Port encapsulation tag protocol identifier
      description: Port encapsulation configuration
    PortOperation:
      type: object
      properties:
        operationalStatus:
          type: string
          description: Availability of a given physical port.
          enum:
          - UP
          - DOWN
          - PARTIAL
        connectionCount:
          type: integer
          description: Total number of connections.
          format: int64
        evplVCCount:
          type: integer
          description: Total number of connections.
          format: int64
        fgVCCount:
          type: integer
          description: Total number of connections.
          format: int64
        accessVCCount:
          type: integer
          description: Total number of connections.
          format: int64
        opStatusChangedAt:
          type: string
          description: Date and time at which port availability changed.
          format: date-time
          example: 2020-11-06 07:00:00+00:00
      description: Operational specifications for ports.
    PortSettings:
      type: object
      properties:
        buyout:
          type: boolean
          deprecated: true
        viewPortPermission:
          type: boolean
          deprecated: true
        placeVcOrderPermission:
          type: boolean
          deprecated: true
        layer3Enabled:
          type: boolean
          deprecated: true
        sharedPortType:
          type: boolean
        sharedPortProduct:
          type: string
          enum:
          - NETWORK_EDGE
          - VIRTUAL_GATEWAY
          - SMARTKEY
          - EDGE_METAL
        packageType:
          type: string
          description: Type of Port Package
          deprecated: true
          enum:
          - STANDARD
          - UNLIMITED
          - UNLIMITED_PLUS
      description: Port configuration settings
    Changelog:
      type: object
      properties:
        createdBy:
          type: string
          description: Created by User Key
          example: johnsmith
        createdByFullName:
          type: string
          description: Created by User Full Name
          example: John Smith
        createdByEmail:
          type: string
          description: Created by User Email Address
          example: john.smith@example.com
        createdDateTime:
          type: string
          description: Created by Date and Time
          format: date-time
          example: 2020-11-06 07:00:00+00:00
        updatedBy:
          type: string
          description: Updated by User Key
          example: johnsmith
        updatedByFullName:
          type: string
          description: Updated by User Full Name
          example: John Smith
        updatedByEmail:
          type: string
          description: Updated by User Email Address
          example: john.smith@example.com
        updatedDateTime:
          type: string
          description: Updated by Date and Time
          format: date-time
          example: 2020-11-06 07:00:00+00:00
        deletedBy:
          type: string
          description: Deleted by User Key
          example: johnsmith
        deletedByFullName:
          type: string
          description: Deleted by User Full Name
          example: John Smith
        deletedByEmail:
          type: string
          description: Deleted by User Email Address
          example: john.smith@example.com
        deletedDateTime:
          type: string
          description: Deleted by Date and Time
          format: date-time
          example: 2020-11-06 07:00:00+00:00
      description: Change log
    marketplaceSubscription:
      type: object
      properties:
        href:
          type: string
          description: Marketplace Subscription URI
          format: uri
          readOnly: true
          example: https://api.equinix.com/fabric/v4/marketplaceSubscriptions/20d32a80-0d61-4333-bc03-707b591ae2f5
        type:
          type: string
          description: Marketplace Subscription type
          example: AWS_MARKETPLACE_SUBSCRIPTION
          enum:
          - AWS_MARKETPLACE_SUBSCRIPTION
          - GCP_MARKETPLACE_SUBSCRIPTION
          - AZURE_MARKETPLACE_SUBSCRIPTION
        uuid:
          type: string
          description: Equinix-assigned Marketplace Subscription identifier
          example: 20d32a80-0d61-4333-bc03-707b591ae2f5
      description: Equinix Fabric Entity for Marketplace Subscription
    PortTether:
      type: object
      properties:
        crossConnectId:
          type: string
          description: Port cross connect identifier
        cabinetNumber:
          type: string
          description: Port cabinet number
        systemName:
          type: string
          description: Port system name
        patchPanel:
          type: string
          description: Port patch panel
        patchPanelPortA:
          type: string
          description: Port patch panel port A
        patchPanelPortB:
          type: string
          description: Port patch panel port B
        ibx:
          type: string
          description: z-side/Equinix IBX
      description: Port physical connection
    LinkProtocolResponse:
      type: object
      properties:
        href:
          type: string
          description: LinkProtocol URI
          format: uri
          readOnly: true
        uuid:
          type: string
          description: Equinix-assigned network identifier
          format: uuid
          example: 92dc376a-a932-43aa-a6a2-c806dedbd784
        state:
          $ref: '#/components/schemas/LinkProtocolState'
        type:
          $ref: '#/components/schemas/LinkProtocolRequestType'
        vlanTag:
          type: integer
          example: 20
        vni:
          type: integer
          example: 20
        vlanTagMin:
          type: integer
          example: 20
        vlanTagMax:
          type: integer
          example: 200
        vlanSTag:
          type: integer
          example: 20
        vlanCTag:
          type: integer
          example: 20
        vlanCTagMin:
          type: integer
          example: 20
        vlanCTagMax:
          type: integer
          example: 200
        subInterface:
          $ref: '#/components/schemas/SubInterface'
        asset:
          $ref: '#/components/schemas/LinkProtocolConnection'
        serviceToken:
          $ref: '#/components/schemas/LinkProtocolServiceToken'
        changeLog:
          $ref: '#/components/schemas/Changelog'
      description: Link Protocol response
    PhysicalPort:
      type: object
      properties:
        href:
          type: string
          description: Equinix assigned response attribute for an absolute URL that is the subject of the link's context.
          format: uri
          readOnly: true
        type:
          $ref: '#/components/schemas/PhysicalPortType'
        id:
          type: integer
          description: Equinix assigned response attribute for Physical Port Id
          deprecated: true
        state:
          $ref: '#/components/schemas/PortState'
        account:
          $ref: '#/components/schemas/SimplifiedAccount'
        interfaceSpeed:
          minimum: 0
          type: integer
          description: Physical Port Speed in Mbps
        interfaceType:
          type: string
          description: Physical Port Interface Type
        uuid:
          type: string
          description: Equinix assigned response attribute for physical port identifier
          format: uuid
        tether:
          $ref: '#/components/schemas/PortTether'
        demarcationPoint:
          $ref: '#/components/schemas/PortDemarcationPoint'
        settings:
          $ref: '#/components/schemas/PhysicalPortSettings'
        interface:
          $ref: '#/components/schemas/PortInterface'
        notifications:
          type: array
          description: Notification preferences
          items:
            $ref: '#/components/schemas/PortNotification'
        additionalInfo:
          type: array
          description: Physical Port additional information
          items:
            $ref: '#/components/schemas/PortAdditionalInfo'
        order:
          $ref: '#/components/schemas/PortOrder'
        operation:
          $ref: '#/components/schemas/PortOperation'
        loas:
          type: array
          description: Port Loas
          items:
            $ref: '#/components/schemas/PortLoa'
      description: Physical Port specification
    PortSearchFieldName:
      type: string
      description: Possible field names to use on filters
      enum:
      - /device/name
      - /physicalPorts/tether/crossConnectId
      - /physicalPorts/interface/name
      - /state
      - /project/projectId
      - /uuid
      - /name
      - /account/orgId
      - /account/accountNumber
      - /location/metroCode
    PortAdditionalInfo:
      type: object
      properties:
        key:
          type: string
          description: Key
        value:
          type: string
          description: Value
      description: Additional information
    LinkProtocolServiceToken:
      type: object
      properties:
        href:
          type: string
          description: Service Token URI
          format: uri
          readOnly: true
        uuid:
          type: string
          format: uuid
          example: cd67f685-41b0-1b07-6de0-0320a5c00abe
        type:
          type: string
          example: TOKEN
        bandwidth:
          type: integer
          format: int64
          example: 1000
      description: Service Token details of Link Protocol
    PortLag:
      type: object
      properties:
        id:
          type: string
          description: id
        enabled:
          type: boolean
          description: enabled
          deprecated: true
        name:
          type: string
          description: name
        memberStatus:
          type: string
          description: member status
      description: Port Lag
    SimplifiedLocation:
      type: object
      properties:
        metroHref:
          type: string
          example: https://api.equinix.com/fabric/v4/metros/AM
        region:
          type: string
          example: AMER, APAC, EMEA
        metroName:
          type: string
          example: Amsterdam
        metroCode:
          type: string
          example: AM
        ibx:
          type: string
          example: AM1
          deprecated: true
    SubInterface:
      type: object
      properties:
        name:
          type: string
          description: name of subinterafce of a port
        unit:
          type: integer
          example: 200
      description: Sub Interface information
    PhysicalPortSettings:
      type: object
      properties:
        errorMessage:
          type: string
        packageType:
          type: string
          deprecated: true
      description: Physical Port configuration settings
    Pagination:
      required:
      - limit
      - total
      type: object
      properties:
        offset:
          minimum: 0
          type: integer
          description: Index of the first item returned in the response. The default is 0.
          default: 0
        limit:
          minimum: 0
          type: integer
          description: Maximum number of search results returned per page. Number must be between 1 and 100, and the default is 20.
          default: 20
        total:
          minimum: 0
          type: integer
          description: Total number of elements returned.
        next:
          type: string
          description: URL relative to the next item in the response.
        previous:
          type: string
          description: URL relative to the previous item in the response.
      description: Pagination response information
    PortSortDirection:
      type: string
      description: Sorting direction
      default: DESC
      enum:
      - DESC
      - ASC
    Port_2:
      type: object
      properties:
        href:
          type: string
          description: Equinix assigned response attribute for an absolute URL that is the subject of the link's context.
          format: uri
          readOnly: true
        type:
          $ref: '#/components/schemas/PortType'
        id:
          type: integer
          description: Equinix assigned response attribute for Port Id
        uuid:
          type: string
          description: Equinix assigned response attribute for  port identifier
          format: uuid
        name:
          type: string
          description: Equinix assigned response attribute for Port name
        description:
          type: string
          description: Equinix assigned response attribute for Port description
        physicalPortsSpeed:
          minimum: 0
          type: integer
          description: Physical Ports Speed in Mbps
        connectionsCount:
          minimum: 0
          type: integer
          description: Equinix assigned response attribute for Connection count
        physicalPortsType:
          type: string
          description: Physical Ports Type. 10GBASE_SMF and 400GBASE_LR4 are only used for IX ports
          enum:
          - 1000BASE_LX
          - 10GBASE_LR
          - 100GBASE_LR4
          - 10GBASE_ER
          - 1000BASE_SX
          - 10GBASE_SMF
          - 400GBASE_LR4
        physicalPortsCount:
          type: integer
        connectivitySourceType:
          type: string
          description: Port connectivity type
          enum:
          - COLO
          - BMMR
          - REMOTE
        bmmrType:
          type: string
          enum:
          - SELF
          - EQUINIX
        project:
          $ref: '#/components/schemas/Project'
        state:
          $ref: '#/components/schemas/PortState'
        order:
          $ref: '#/components/schemas/PortOrder'
        operation:
          allOf:
          - $ref: '#/components/schemas/PortOperation'
        account:
          $ref: '#/components/schemas/SimplifiedAccount'
        change:
          $ref: '#/components/schemas/PortChange'
        changeLog:
          $ref: '#/components/schemas/Changelog'
        serviceType:
          type: string
          description: Port service Type
          deprecated: true
          enum:
          - EPL
          - MSP
        serviceCode:
          $ref: '#/components/schemas/PortServiceCode'
        bandwidth:
          minimum: 0
          type: integer
          description: Equinix assigned response attribute for Port bandwidth in Mbps
          deprecated: true
        availableBandwidth:
          minimum: 0
          type: integer
          description: Equinix assigned response attribute for Port available bandwidth in Mbps
        usedBandwidth:
          minimum: 0
          type: integer
          description: Equinix assigned response attribute for Port used bandwidth in Mbps
        location:
          $ref: '#/components/schemas/SimplifiedLocation'
        device:
          $ref: '#/components/schemas/PortDevice'
        interface:
          $ref: '#/components/schemas/PortInterface'
        demarcationPointIbx:
          type: string
          description: A-side/Equinix ibx
        tetherIbx:
          type: string
          description: z-side/Equinix ibx
        demarcationPoint:
          $ref: '#/components/schemas/PortDemarcationPoint'
        redundancy:
          $ref: '#/components/schemas/PortRedundancy'
        encapsulation:
          $ref: '#/components/schemas/PortEncapsulation'
        lagEnabled:
          type: boolean
          description: If LAG enabled
        lag:
          allOf:
          - $ref: '#/components/schemas/PortLag'
        asn:
          type: integer
          description: Port ASN
        package:
          $ref: '#/components/schemas/Package'
        settings:
          $ref: '#/components/schemas/PortSettings'
        physicalPortQuantity:
          type: integer
          description: Number of physical ports
        notifications:
          type: array
          description: Notification preferences
          items:
            $ref: '#/components/schemas/PortNotification'
        additionalInfo:
          type: array
          description: Port additional information
          items:
            $ref: '#/components/schemas/PortAdditionalInfo'
        endCustomer:
          $ref: '#/components/schemas/EndCustomer'
        physicalPorts:
          type: array
          description: Physical ports that implement this port
          items:
            $ref: '#/components/schemas/PhysicalPort'
        loas:
          type: array
          description: Port Loas
          items:
            $ref: '#/components/schemas/PortLoa'
        marketplaceSubscription:
          $ref: '#/components/schemas/marketplaceSubscription'
      description: Port specification
    LinkProtocolGetResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            $ref: '#/components/schemas/LinkProtocolResponse'
      description: List of Vlans
    PortSortBy:
      type: string
      description: Possible field names to use on sorting
      default: /device/name
      enum:
      - /device/name
      - /name
      - /state
      - /location/metroName
      - /demarcationPointIbx
      - /device/redundancy/priority
      - /lagEnabled
      - /physicalPortsSpeed
      - /encapsulation/type
      - /physicalPorts/tether/crossConnectId
      - /package/code
    PortLoa:
      type: object
      properties:
        uuid:
          type: string
          description: uuid
        type:
          type: string
          description: Loa type
          example: DIGITAL_LOA
      description: Port Loas
    PortDevice:
      type: object
      properties:
        name:
          type: string
          description: Device name
          deprecated: true
        redundancy:
          $ref: '#/components/schemas/PortDeviceRedundancy'
        vcBandwidthMax:
          type: integer
          description: Maximum bandwidth allowed for connection.
          format: int64
      description: Port device
    PortChange:
      type: object
      properties:
        uuid:
          type: string
          description: Uniquely identifies a change
        type:
          type: string
          description: Type of change
          enum:
          - PORT_CREATION
          - PORT_UPDATE
          - PORT_DELETION
        status:
          type: string
          description: Current outcome of the change flow
          enum:
          - COMPLETED
          - FAILED
          - REQUESTED
        information:
          type: string
          description: Additional information
        data:
          $ref: '#/components/schemas/PortChangeOperation'
        createdDateTime:
          type: string
          description: Set when change flow starts
          format: date-time
          example: 2020-11-06 07:00:00+00:00
        updatedDateTime:
          type: string
          description: Set when change object is updated
          format: date-time
          example: 2020-11-06 07:00:00+00:00
      description: Current state of latest port change
    PortOrder:
      type: object
      properties:
        purchaseOrder:
          $ref: '#/components/schemas/PortOrderPurchaseOrder'
        orderId:
          type: string
          description: Order Identification
        customerReferenceId:
          type: string
          description: Customer order reference Id
        orderNumber:
          type: string
          description: Order Reference Number
        uuid:
          type: string
          description: Equinix-assigned order identifier, this is a derived response atrribute
          format: uuid
          deprecated: true
        signature:
          $ref: '#/components/schemas/PortOrderSignature'
    PortOrderSignatureDelegate:
      type: object
      properties:
        firstName:
          type: string
          description: first name of delegate
        lastName:
          type: string
          description: last Name of delegate
        email:
          type: string
          description: email of delegate
      description: order delegate details
    AllPortsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          description: GET All User Port Across Fabric Metros
          items:
            $ref: '#/components/schemas/Port_2'
      description: GET All User Port Across Fabric Metros
    LinkProtocolRequestType:
      type: string
      description: Type of Link Protocol
      enum:
      - UNTAGGED
      - DOT1Q
      - QINQ
      - VXLAN
    AllPhysicalPortsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          description: GET All Physical Ports
          items:
            $ref: '#/components/schemas/PhysicalPort'
      description: GET All Physical Ports
    PriceError_additionalInfo:
      type: object
      properties:
        property:
          type: string
        reason:
          type: string
    LinkProtocolConnection:
      type: object
      properties:
        href:
          type: string
          description: Connection URI
          format: uri
          readOnly: true
        uuid:
          type: string
          format: string
          example: cd67f685-41b0-1b07-6de0-320a5c00abe
        type:
          type: string
          example: EVPL_VC
        bandwidth:
          type: integer
          format: int64
          example: 100
      description: Connection details of Link Protocol
    BulkPhysicalPort:
      type: object
      properties:
        data:
          type: array
          description: add physical ports to virtual port
          items:
            $ref: '#/components/schemas/PhysicalPort'
      description: Add to Lag request
    ErrorList:
      type: array
      description: List of Error Message
      items:
        $ref: '#/components/schemas/Error_2'
    PortV4SearchRequest:
      required:
      - filter
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/PortExpression'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        sort:
          type: array
          items:
            $ref: '#/components/schemas/PortSortCriteria'
      description: Search requests containing criteria
    PortExpressions:
      type: array
      items:
        $ref: '#/components/schemas/PortExpression'
    PortOrderSignature:
      type: object
      properties:
        signatory:
          type: string
          description: Port signature Type
          enum:
          - DELEGATE
          - SELF
          - ACCOUNT_SUPPORT
        delegate:
          $ref: '#/components/schemas/PortOrderSignatureDelegate'
      description: Port signature details
    PortDeviceRedundancy:
      type: object
      properties:
        group:
          type: string
          description: Device redundancy group
        priority:
          type: string
          description: Device redundancy priority
          enum:
          - PRIMARY
          - SECONDARY
      description: Device redundancy
    SimplifiedAccount:
      type: object
      properties:
        accountNumber:
          type: integer
          description: Account number
          format: int64
        accountName:
          type: string
          description: Account name
        orgId:
          type: integer
          description: Customer organization identifier
          format: int64
        organizationName:
          type: string
          description: Customer organization name
        globalOrgId:
          type: string
          description: Global organization identifier
        globalOrganizationName:
          type: string
          description: Global organization name
        ucmId:
          type: string
          description: Account ucmId
        globalCustId:
          type: string
          description: Account name
        resellerAccountNumber:
          type: integer
          description: Reseller account number
          format: int64
        resellerAccountName:
          type: string
          description: Reseller account name
        resellerUcmId:
          type: string
          description: Reseller account ucmId
        resellerOrgId:
          type: integer
          description: Reseller customer organization identifier
          format: int64
    Project:
      required:
      - projectId
      type: object
      properties:
        projectId:
          type: string
          description: Subscriber-assigned project ID
          example: 44f4c4f8-2f39-494e-838c-d8e640591be5
    PortNotification:
      required:
      - registeredUsers
      - type
      type: object
      properties:
        type:
          type: string
          description: Notification Type
          enum:
          - NOTIFICATION
          - TECHNICAL
          - PEERING
          - ESCALATION
        registeredUsers:
          type: array
          description: Array of registered users
          items:
            type: string
    PortExpression:
      type: object
      properties:
        and:
          $ref: '#/components/schemas/PortExpressions'
        or:
          $ref: '#/components/schemas/PortExpressions'
        property:
          $ref: '#/components/schemas/PortSearchFieldName'
        operator:
          type: string
          enum:
          - '='
        values:
          type: array
          items:
            type: string
      description: 'Either use ''and'' for AND operations, ''or'' for OR operations,  or specify ''property'', ''operator'', and ''values'' for field filtering. Only one of these patterns should be used at a time.

        '
    PortRedundancy:
      type: object
      properties:
        enabled:
          type: boolean
          description: Access point redundancy
        group:
          type: string
          description: Port UUID of respective primary port
          deprecated: true
        priority:
          $ref: '#/components/schemas/PortPriority'
      description: Port redundancy configuration
    PortChangeOperation:
      required:
      - op
      - path
      - value
      type: object
      properties:
        op:
          type: string
          description: Handy shortcut for operation name
          example: replace
        path:
          type: string
          description: path inside document leading to updated parameter
          example: /name
        value:
          description: new value for updated parameter
      description: Port change operation data
    PortDemarcationPoint:
      type: object
      properties:
        cabinetUniqueSpaceId:
          type: string
          description: Port cabinet unique space id
        cageUniqueSpaceId:
          type: string
          description: Port cage unique space id
        patchPanel:
          type: string
          description: Port patch panel
        patchPanelName:
          type: string
          description: Port patch panel
          deprecated: true
        patchPanelPortA:
          type: string
          description: Port patch panel port A
        patchPanelPortB:
          type: string
          description: Port patch panel port B
        connectorType:
          type: string
          description: Port connector type
        ibx:
          type: string
          description: Port ibx identifier
      description: Customer physical Port
    Error_2:
      required:
      - errorCode
      - errorMessage
      type: object
      properties:
        errorCode:
          pattern: ^EQ-\d{7}$
          type: string
        errorMessage:
          type: string
        correlationId:
          type: string
        details:
          type: string
        help:
          type: string
        additionalInfo:
          type: array
          items:
            $ref: '#/components/schemas/PriceError_additionalInfo'
      description: Error Response with details
    PortOrderPurchaseOrder:
      type: object
      properties:
        number:
          type: string
          description: purchase order number
        amount:
          type: string
          description: purchase order amount
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        attachmentId:
          type: string
          format: uuid
        selectionType:
          type: string
          deprecated: true
          enum:
          - EXEMPTION
          - EXISTING
          - NEW
          - BLANKET
        type:
          type: string
          enum:
          - EXEMPTION
          - EXISTING
          - NEW
          - BLANKET
      description: purchase order
    Package:
      type: object
      properties:
        code:
          type: string
          description: Type of Port Package
          enum:
          - STANDARD
          - UNLIMITED
          - UNLIMITED_PLUS
        type:
          type: string
          description: Port service Type
          enum:
          - EPL
          - MSP
      description: Package settings for port
    LinkProtocolState:
      type: string
      description: Network status
      enum:
      - RESERVED
      - RELEASED
    PortSortCriteria:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/PortSortDirection'
        property:
          $ref: '#/components/schemas/PortSortBy'
  requestBodies:
    PortAssignInput:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortAssignInput'
      description: 'Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself (ex: ''1001'').'
      required: true
  examples:
    bmmrSinglePortCreateDryRunResponse:
      value:
        type: XF_PORT
        connectivitySourceType: BMMR
        physicalPortsSpeed: 1000
        physicalPortsType: 1000BASE_LX
        physicalPortsCount: 1
        location:
          metroCode: AT
        demarcationPointIbx: AT1
        redundancy:
          priority: PRIMARY
        lagEnabled: false
        encapsulation:
[...]
