openapi: 3.0.1
info:
  title: Equinix API Authentication SupportRequest API
  description: 'Equinix APIs use the OAuth 2.0 for authentication and authorization. Equinix supports the resource owner password and the client credentials flow.

    To begin, obtain OAuth 2.0 client credentials from the Equinix Developer Console under "My Apps". Then your client application  requests an access token from the Equinix API Authorization endpoint, extracts the access_token from the response, and sends the Bearer token to the API that you want to access'
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
  version: '1.2'
servers:
- url: https://api.equinix.com
tags:
- description: 'Support request

    '
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/support/
  name: SupportRequest
paths:
  /support-requests:
    post:
      description: Support Ticket.
      operationId: requestSuppert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportRequestInput'
        description: Support Request to create
        required: true
      responses:
        '204':
          description: no content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a support ticket
      tags:
      - SupportRequest
components:
  schemas:
    SupportRequestInput_priority:
      enum:
      - urgent
      - high
      - medium
      - low
      type: string
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    SupportRequestInput:
      example:
        device_id: device_id
        project_id: project_id
        subject: subject
        message: message
        priority: null
      properties:
        device_id:
          type: string
        message:
          type: string
        priority:
          $ref: '#/components/schemas/SupportRequestInput_priority'
        project_id:
          type: string
        subject:
          type: string
      required:
      - message
      - subject
      type: object
x-eqx-api-linter-skip-rules:
- 3
- 38
