openapi: 3.0.1
info:
  title: Equinix API Authentication Connections API
  description: 'Equinix APIs use the OAuth 2.0 for authentication and authorization. Equinix supports the resource owner password and the client credentials flow.

    To begin, obtain OAuth 2.0 client credentials from the Equinix Developer Console under "My Apps". Then your client application  requests an access token from the Equinix API Authorization endpoint, extracts the access_token from the response, and sends the Bearer token to the API that you want to access'
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
  version: '1.2'
servers:
- url: https://api.equinix.com
tags:
- name: Connections
  description: Connections
paths:
  /fabric/v4/connections:
    post:
      tags:
      - Connections
      summary: Create Connection
      description: This API provides capability to create user's virtual connection
      operationId: createConnection
      parameters:
      - name: dryRun
        in: query
        description: option to verify that API calls will succeed
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionPostRequest'
            examples:
              Colo2Colo-Dot1q2Dot1q:
                $ref: '#/components/examples/COLO2COLOwithDot1q-Dot1q'
              Colo2Colo-Dot1q2Dot1q-WithTerms:
                $ref: '#/components/examples/COLO2COLOwithDot1qAndTerms-Dot1q'
              Colo2Colo-Dot1q2Dot1q-CRH:
                $ref: '#/components/examples/COLO2COLOwithDot1q-Dot1q-CRH'
              Colo2Colo-Dot1q2Qinq:
                $ref: '#/components/examples/COLO2COLOwithDot1Q-QinQ'
              Colo2Colo-Qinq2Qinq:
                $ref: '#/components/examples/COLO2COLOwithQinq-Qinq'
              Colo2Colo-Qinq2Dot1q:
                $ref: '#/components/examples/COLO2COLOwithQinq-Dot1q'
              Colo2Colo-AsResellerForSubCustomer:
                $ref: '#/components/examples/COLO2COLO-AsReseller'
              Colo2Colo-MetroConnect:
                $ref: '#/components/examples/COLO2COLO-MetroConnect'
              Colo2Colo-Epl:
                $ref: '#/components/examples/COLO2COLO-EPL'
              Colo2Colo-Epl-With-Terms:
                $ref: '#/components/examples/COLO2COLO-EPL-Terms'
              Colo2Colo-AccessEpl:
                $ref: '#/components/examples/COLO2COLO-AccessEpl'
              Colo2Sp-Generic:
                $ref: '#/components/examples/COLO2SPwithDot1q'
              Colo2Sp-NetworkEdgeGeneric:
                $ref: '#/components/examples/COLO2SPwithDot1q'
              Colo2Sp-Alibaba:
                $ref: '#/components/examples/COLO2AlibabaSPwithDot1q'
              Colo2Sp-Aws-Primary:
                $ref: '#/components/examples/COLO2AWSSPwithDot1q-Primary'
              Colo2Sp-Azure-Primary:
                $ref: '#/components/examples/COLO2AzureSP-Primary'
              Colo2Sp-Google:
                $ref: '#/components/examples/COLO2GoogleSPwithDot1q'
              Colo2Sp-Ibm_1.0:
                $ref: '#/components/examples/COLO2IBM_1'
              Colo2Sp-Ibm_2.0:
                $ref: '#/components/examples/COLO2IBM_2'
              Colo2Sp-Oracle:
                $ref: '#/components/examples/COLO2OracleSPwithDot1q'
              Colo2ServiceToken:
                $ref: '#/components/examples/COLO2ServiceToken'
              Colo2Network-EVPLAN_VC:
                $ref: '#/components/examples/COLO2NETWORKwithDot1q'
              Colo2Network-EVPLAN_VC-With-Terms:
                $ref: '#/components/examples/COLO2NETWORKwithDot1qAndTerms'
              Colo2Network-EPLAN_VC:
                $ref: '#/components/examples/COLO2NETWORKwithEPL'
              Colo2Network-EPLAN_VC-With-Terms:
                $ref: '#/components/examples/COLO2NETWORKwithEPLAndTerms'
              Colo2Network-EVPTREE_VC:
                $ref: '#/components/examples/COLO2NETWORK_EVPTREE_withDot1q'
              Colo2Network-EVPTREE_VC-With-Terms:
                $ref: '#/components/examples/COLO2NETWORK_EVPTREE_withDot1qAndTerms'
              Colo2Network-EPTREE_VC:
                $ref: '#/components/examples/COLO2NETWORK_EPTREE_withEPL'
              Colo2Network-EPTREE_VC-With-Terms:
                $ref: '#/components/examples/COLO2NETWORK_EPTREE_withEPLAndTerms'
              Vd2Network:
                $ref: '#/components/examples/Vd2NETWORK'
              Vd2Sp-Aws:
                $ref: '#/components/examples/Vd2AwsSP'
              Vd2Sp-Azure:
                $ref: '#/components/examples/Vd2AzureSP'
              Vd2Sp-Oracle:
                $ref: '#/components/examples/Vd2OracleSP'
              Vd2Sp-IBM_1.0:
                $ref: '#/components/examples/Vd2Ibm_1'
              Vd2Sp-IBM_2.0:
                $ref: '#/components/examples/Vd2Ibm_2'
              Vd2Sp-Alibaba:
                $ref: '#/components/examples/Vd2AlibabaSP'
              Vd2Sp-Google:
                $ref: '#/components/examples/Vd2GoogleSP'
              Vd2Sp-Primary:
                $ref: '#/components/examples/Vd2Sp-Primary'
              Vd2Sp-Secondary:
                $ref: '#/components/examples/Vd2Sp-Secondary'
              Vd2Colo:
                $ref: '#/components/examples/Vd2Colo'
              Vd2Colo-vlanTag:
                $ref: '#/components/examples/Vd2Colo-VlanTag'
              Vd2Colo-vlanCTag:
                $ref: '#/components/examples/Vd2Colo-VlanCTag'
              Vd2ColoUntagged:
                $ref: '#/components/examples/Vd2ColoUntagged'
              Vd2ServiceToken:
                $ref: '#/components/examples/Vd2ServiceToken'
              Fcr2Colo:
                $ref: '#/components/examples/Fcr2Colo'
              Fcr2Sp-Google:
                $ref: '#/components/examples/Fcr2Sp-Google'
              Fcr2Sp-Azure:
                $ref: '#/components/examples/Fcr2Sp-Azure'
              Fcr2Sp-IBM:
                $ref: '#/components/examples/Fcr2Sp-IBM'
              Fcr2Sp-Generic:
                $ref: '#/components/examples/Fcr2Sp-Generic'
              Fcr2Sp-Generic-Redundant-Primary:
                $ref: '#/components/examples/Fcr2Sp-Generic'
              Fcr2Sp-Generic-Redundant-Secondary:
                $ref: '#/components/examples/Fcr2Sp-Generic-Redundant-Secondary'
              Fcr2Sp-Generic-Redundant-Primary-re-add:
                $ref: '#/components/examples/Fcr2Sp-Generic-Redundant-Primary'
              Fcr2Sp-Aws:
                $ref: '#/components/examples/Fcr2Sp-Aws'
              Fcr2Sp-Oracle:
                $ref: '#/components/examples/Fcr2Sp-Oracle'
              Fcr2Sp-Alibaba:
                $ref: '#/components/examples/Fcr2Sp-Alibaba'
              Fcr2Vd:
                $ref: '#/components/examples/Fcr2Vd'
              Fcr2Vd-Redundant-Secondary:
                $ref: '#/components/examples/Fcr2Vd-Redundant-Secondary'
              Fcr2IpWan:
                $ref: '#/components/examples/Fcr2IpWan'
              Fcr2Sp-Aws-Marketplace-subscription:
                $ref: '#/components/examples/Fcr2Sp-Aws-marketplaceSubscription'
              Fcr2MetalNetwork:
                $ref: '#/components/examples/Fcr2Metal-Network'
              Fcr2ServiceToken:
                $ref: '#/components/examples/Fcr2ServiceToken'
              AsideServiceToken2ColoWithDot1q:
                $ref: '#/components/examples/AsideServiceToken2PortWithDot1q'
              AsideServiceToken2ColoWithQinq:
                $ref: '#/components/examples/AsideServiceToken2PortWithQinq'
              AsideServiceToken2PrivateSP-NE:
                $ref: '#/components/examples/AsideServiceToken2PrivateSP-NE'
              AsideServiceToken2ZsideServiceToken:
                $ref: '#/components/examples/AsideServiceToken2ZsideServiceToken'
              Metal2Sp-Aws:
                $ref: '#/components/examples/Metal2Sp-Aws'
              Metal2Sp-Azure:
                $ref: '#/components/examples/Metal2Sp-Azure'
              Metal2Sp-GCP:
                $ref: '#/components/examples/Metal2Sp-GCP'
              Metal2Sp-Oracle:
                $ref: '#/components/examples/Metal2Sp-Oracle'
              Metal2Sp-IBM:
                $ref: '#/components/examples/Metal2Sp-IBM'
              Metal2Port-Dot1Q:
                $ref: '#/components/examples/Metal2Port-Dot1q'
              Metal2Port-QinQ:
                $ref: '#/components/examples/Metal2Port-Qinq'
              Metal2Port-ZsideServiceToken:
                $ref: '#/components/examples/Metal2ServiceToken'
              Metal2Sp-Generic:
                $ref: '#/components/examples/Metal2Sp-Generic'
              Vd2IASp:
                $ref: '#/components/examples/Vd2IAProfile-Request'
              Fcr2Metal-Network:
                $ref: '#/components/examples/Fcr2Metal-Network'
              Connection-Colo2Sp-GenericDryRunCreate:
                $ref: '#/components/examples/CreateConnectionDryRunRequest'
              IX2Sp-PublicPeering_VC:
                $ref: '#/components/examples/IXDedicatedPublicPeeringConnection'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
              examples:
                ConnectionDryRun-Colo2AWS:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2AWS'
                ConnectionDryRun-Colo2Azure:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2Azure'
                ConnectionDryRun-Colo2Google:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2Google'
                ConnectionDryRun-Colo2IBM:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2IBM'
                ConnectionDryRun-Colo2Network-EPLAN_VC:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2Network-EPLAN_VC'
                ConnectionDryRun-Colo2Network-EVPLAN_VC:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2Network-EVPLAN_VC'
                ConnectionDryRun-Colo2Sp-Generic:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Colo2Sp-Generic'
                ConnectionDryRun-Fcr2Colo:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Fcr2Colo'
                ConnectionDryRun-Fcr2Ipwan:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Fcr2Ipwan'
                ConnectionDryRun-Fcr2Sp-Generic:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-Fcr2Sp-Generic'
                ConnectionDryRun-PortServiceToken2Port:
                  $ref: '#/components/examples/CreateConnectionDryRunResponse-PortServiceToken2Port'
        '201':
          description: Accept Connection Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
              examples:
                Colo2Sp:
                  $ref: '#/components/examples/ConnectionCreateResponse'
                Colo2Colo-MetroConnect:
                  $ref: '#/components/examples/COLO2COLO-MetroConnect-Response'
                Colo2Sp-Azure-Primary:
                  $ref: '#/components/examples/COLO2AzureSP-Primary-Response'
                Colo2Sp-Google:
                  $ref: '#/components/examples/COLO2GoogleSPwithDot1q-Response'
                Colo2Sp-Alibaba:
                  $ref: '#/components/examples/COLO2AlibabaSP-Response'
                Colo2Sp-IBM_1.0:
                  $ref: '#/components/examples/COLO2IBM_1'
                Colo2Sp-IBM_2.0:
                  $ref: '#/components/examples/COLO2IBM_2'
                Colo2Sp-Oracle:
                  $ref: '#/components/examples/COLO2OracleSP-Response'
                Vd2Sp:
                  $ref: '#/components/examples/Vd2Sp-Response'
                Vd2Token:
                  $ref: '#/components/examples/Vd2ServiceToken-Response'
                Vd2Colo:
                  $ref: '#/components/examples/Vd2Colo-Response'
                Vd2Colo-tag:
                  $ref: '#/components/examples/Vd2Colo-VlanTagResponse'
                Vd2ColoUntagged:
                  $ref: '#/components/examples/Vd2ColoUntagged-Response'
                Fcr2Sp:
                  $ref: '#/components/examples/Fcr2Sp-Response'
                Fcr2Colo:
                  $ref: '#/components/examples/Fcr2Colo-ResponseExample'
                Fcr2IpWan:
                  $ref: '#/components/examples/Fcr2IpWan-response'
                Fcr2Sp-Marketplace-subscription:
                  $ref: '#/components/examples/Fcr2Sp-marketplaceSubscription-Response'
                ServiceToken2PortResponseDot1Q:
                  $ref: '#/components/examples/AsideServiceToken2PortResponseWithDot1q'
                ServiceToken2PortResponseQinQ:
                  $ref: '#/components/examples/AsideServiceToken2PortResponseWithQinq'
                Metal2Sp-Aws:
                  $ref: '#/components/examples/Metal2Sp-Aws-Response'
                Metal2Sp-Azure:
                  $ref: '#/components/examples/Metal2Sp-Azure-Response'
                Metal2Sp-GCP:
                  $ref: '#/components/examples/Metal2Sp-GCP-Response'
                Metal2Sp-Oracle:
                  $ref: '#/components/examples/Metal2Sp-Oracle-Response'
                Metal2Sp-IBM:
                  $ref: '#/components/examples/Metal2Sp-IBM-Response'
                Metal2Port-Dot1Q:
                  $ref: '#/components/examples/Metal2Port-Dot1q-Response'
                Metal2Port-QinQ:
                  $ref: '#/components/examples/Metal2Port-Qinq-Response'
                Metal2Port-ZsideServiceToken:
                  $ref: '#/components/examples/Metal2ServiceToken-Response'
                Metal2Sp-Generic:
                  $ref: '#/components/examples/Metal2Sp-Generic-Response'
                Fcr2Metal-Network:
                  $ref: '#/components/examples/Fcr2Metal-Network'
                Colo2Network-EVPLAN_VC:
                  $ref: '#/components/examples/COLO2NETWORKwithDot1q-Response'
                Colo2Network-EVPLAN_VC-WithTerms:
                  $ref: '#/components/examples/COLO2NETWORKwithDot1qAndTerms-Response'
                Colo2Network-EPLAN_VC:
                  $ref: '#/components/examples/COLO2NETWORKwithEPL-Response'
                Colo2Network-EPLAN_VC-WithTerms:
                  $ref: '#/components/examples/COLO2NETWORKwithEPLAndTerms-Response'
                Colo2Network-EVPTREE_VC:
                  $ref: '#/components/examples/COLO2NETWORK_EVPTREE_withDot1q-Response'
                Colo2Network-EVPTREE_VC-WithTerms:
                  $ref: '#/components/examples/COLO2NETWORK_EVPTREE_withDot1qAndTerms-Response'
                Colo2Network-EPTREE_VC:
                  $ref: '#/components/examples/COLO2NETWORK_EPTREE_withEPL-Response'
                Colo2Network-EPTREE_VC-WithTerms:
                  $ref: '#/components/examples/COLO2NETWORK_EPTREE_withEPLAndTerms-Response'
                Vd2IASp:
                  $ref: '#/components/examples/Vd2IAProfile-Response'
                Vd2Network:
                  $ref: '#/components/examples/Vd2NETWORK-Response'
                Vd2Sp-Aws:
                  $ref: '#/components/examples/Vd2AwsSP-Response'
                Vd2Sp-Azure:
                  $ref: '#/components/examples/Vd2AzureSP-Response'
                Vd2Sp-Oracle:
                  $ref: '#/components/examples/Vd2OracleSP-Response'
                Vd2Sp-IBM_1.0:
                  $ref: '#/components/examples/Vd2Ibm_1'
                Vd2Sp-IBM_2.0:
                  $ref: '#/components/examples/Vd2Ibm_2'
                Vd2Sp-Alibaba:
                  $ref: '#/components/examples/Vd2AlibabaSP-Response'
                Vd2Sp-Google:
                  $ref: '#/components/examples/Vd2GoogleSP-Response'
                IX2Sp-PublicPeering_VC:
                  $ref: '#/components/examples/IXDedicatedPublicPeeringConnectionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400'
                dryRun:
                  $ref: '#/components/examples/400_dry_run'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/405'
  /fabric/v4/connections/{connectionId}:
    get:
      tags:
      - Connections
      summary: Get Connection by ID
      description: The API provides capability to get user's virtual connection details (Service Tokens, Access Points, Link Protocols, etc) by it's connection ID (UUID)
      operationId: getConnectionByUuid
      parameters:
      - name: connectionId
        in: path
        description: Connection Id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
      - name: direction
        in: query
        description: Connection Direction
        required: false
        schema:
          $ref: '#/components/schemas/ConnectionDirection'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
              examples:
                nonGenericConnectionResponse:
                  $ref: '#/components/examples/NonGenericConnectionResponseExample'
                genericConnectionResponse:
                  $ref: '#/components/examples/GenericConnectionResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
              - errorCode: EQ-300005
                errorMessage: You don't have permissions to perform READ operation. Please contact your master administrator to get the right permissions through Equinix Customer Portal or contact Equinix Support (support@equinix.com).
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
    delete:
      tags:
      - Connections
      summary: Delete by ID
      description: Delete Connection by ID
      operationId: deleteConnectionByUuid
      parameters:
      - name: connectionId
        in: path
        description: Connection UUID
        required: true
        schema:
          $ref: '#/components/schemas/VirtualCircuitId'
      responses:
        '200':
          description: Delete Connection Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
              examples:
                connectionExample:
                  $ref: '#/components/examples/ConnectionDeletionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400-delete'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403-delete'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/405'
    patch:
      tags:
      - Connections
      summary: Update by ID
      description: Update Connection by ID
      operationId: updateConnectionByUuid
      parameters:
      - name: connectionId
        in: path
        description: Connection Id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
      - name: dryRun
        in: query
        description: option to verify that API calls will succeed
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ConnectionUpdateRequest'
            examples:
              ConnectionUpdateNameRequest:
                $ref: '#/components/examples/ConnectionUpdateNameRequest'
              ConnectionUpdateBandwidthRequest:
                $ref: '#/components/examples/ConnectionUpdateBandwidthRequest'
              ConnectionUpdateTermLengthRequest:
                $ref: '#/components/examples/ConnectionUpdateTermLengthRequest'
              ConnectionAddAccessAndSecretKeyAWSRequest:
                $ref: '#/components/examples/ConnectionAddAccessAndSecretKeyAWSRequest'
              ConnectionMigrationAsideRequest:
                $ref: '#/components/examples/ConnectionMigrationAsideRequest'
              ConnectionUpdateNotificationEmailRequest:
                $ref: '#/components/examples/ConnectionUpdateNotificationEmailRequest'
              ConnectionMigrationAsideRequestForVirtualDevice:
                $ref: '#/components/examples/ConnectionMigrationAsideVirtualDeviceRequest'
              ConnectionUpdateBandwidthRequestDryRun:
                $ref: '#/components/examples/ConnectionUpdateBandwidthRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
              examples:
                connectionPatchExampleDryRun:
                  $ref: '#/components/examples/ConnectionPatchResponseDryRun'
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
              examples:
                connectionPatchExample:
                  $ref: '#/components/examples/ConnectionPatchResponse'
                connectionUpdateTermLength:
                  $ref: '#/components/examples/ConnectionUpdateTermLengthResponse'
          links:
            Get Connection Details:
              operationId: getConnectionByUuid
              parameters:
                connectionId: $response.body#/uuid
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400'
                dryRun:
                  $ref: '#/components/examples/400_dry_run'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
  /fabric/v4/connections/{connectionId}/actions:
    post:
      tags:
      - Connections
      summary: Connection Actions
      description: This API provides capability to accept/reject user's virtual connection
      operationId: createConnectionAction
      parameters:
      - name: connectionId
        in: path
        description: Connection Id
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionActionRequest'
            examples:
              ApproveGenericConnection:
                $ref: '#/components/examples/Connection_Creation_Acceptance'
              RejectGenericConnection:
                $ref: '#/components/examples/Connection_Creation_Rejection'
              ApproveBandwidthUpdate:
                $ref: '#/components/examples/Connection_Update_Acceptance'
              RejectBandwidthUpdate:
                $ref: '#/components/examples/Connection_Update_Rejection'
              AcceptDeleteConnection:
                $ref: '#/components/examples/Connection_Deletion_Acceptance'
              VcMigrationZSide:
                $ref: '#/components/examples/Connection_Update_Request_VC_Migration'
              BGPSync:
                $ref: '#/components/examples/Connection_Provider_Status_Request'
              GetProviderBandwidth:
                $ref: '#/components/examples/Connection_Provider_Bandwidth_Request'
              AcceptZSide-NetworkEdge:
                $ref: '#/components/examples/AcceptZSide_NetworkEdge_Request'
        required: true
      responses:
        '202':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionAction'
              examples:
                connectionActionExample:
                  $ref: '#/components/examples/ConnectionActionResponse'
                GetProviderBandwidth:
                  $ref: '#/components/examples/Connection_Provider_Bandwidth_Response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/400'
                dryRun:
                  $ref: '#/components/examples/400_dry_run'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
  /fabric/v4/connections/search:
    post:
      tags:
      - Connections
      summary: Search connections
      description: The API provides capability to get list of user's virtual connections using search criteria, including optional filtering, pagination and sorting
      operationId: searchConnections
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
            examples:
              ConnectionSearchDirection:
                $ref: '#/components/examples/ConnectionSearchDirection'
              ConnectionSearchIsremote:
                $ref: '#/components/examples/ConnectionSearchIsremote'
              ConnectionSearchName:
                $ref: '#/components/examples/ConnectionSearchName'
              ConnectionSearchUuid:
                $ref: '#/components/examples/ConnectionSearchUuid'
              ConnectionSearchCustorg:
                $ref: '#/components/examples/ConnectionSearchCustorg'
              ConnectionSearchAccountname:
                $ref: '#/components/examples/ConnectionSearchAccountname'
              ConnectionSearchCloudRouteruuid:
                $ref: '#/components/examples/ConnectionSearchCloudRouteruuid'
              ConnectionSearchAsidevlanstagctag:
                $ref: '#/components/examples/ConnectionSearchAsidevlanstagctag'
              ConnectionSearchAsidemetrocodemetroname:
                $ref: '#/components/examples/ConnectionSearchAsidemetrocodemetroname'
              ConnectionSearchAsideaccesspointname:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointname'
              ConnectionSearchAsideaccesspointuuid:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointuuid'
              ConnectionSearchAsideaccesspointtype:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointtype'
              ConnectionSearchAsidevirtualdevicename:
                $ref: '#/components/examples/ConnectionSearchAsidevirtualdevicename'
              ConnectionSearchAsidevirtualdeviceuuid:
                $ref: '#/components/examples/ConnectionSearchAsidevirtualdeviceuuid'
              ConnectionSearchAsideservicetokenuuid:
                $ref: '#/components/examples/ConnectionSearchAsideservicetokenuuid'
              ConnectionSearchChangestatus:
                $ref: '#/components/examples/ConnectionSearchChangestatus'
              ConnectionSearchUpdatedatetime:
                $ref: '#/components/examples/ConnectionSearchUpdatedatetime'
              ConnectionSearchEquinixstatus:
                $ref: '#/components/examples/ConnectionSearchEquinixstatus'
              ConnectionSearchProviderstatus:
                $ref: '#/components/examples/ConnectionSearchProviderstatus'
              ConnectionSearchProjectid:
                $ref: '#/components/examples/ConnectionSearchProjectidOPtional-CRH'
              ConnectionSearchRedundancygroup:
                $ref: '#/components/examples/ConnectionSearchRedundancygroup'
              ConnectionSearchRedundancypriority:
                $ref: '#/components/examples/ConnectionSearchRedundancypriority'
              ConnectionSearchZsidevlanstagctag:
                $ref: '#/components/examples/ConnectionSearchZsidevlanstagctag'
              ConnectionSearchZsidemetrocodemetroname:
                $ref: '#/components/examples/ConnectionSearchZsidemetrocodemetroname'
              ConnectionSearchZsideaccesspointname:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointname'
              ConnectionSearchZsideaccesspointuuid:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointuuid'
              ConnectionSearchZsideaccesspointtype:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointtype'
              ConnectionSearchZsidevirtualdevicename:
                $ref: '#/components/examples/ConnectionSearchZsidevirtualdevicename'
              ConnectionSearchZsidevirtualdeviceuuid:
                $ref: '#/components/examples/ConnectionSearchZsidevirtualdeviceuuid'
              ConnectionSearchZsideservicetokenuuid:
                $ref: '#/components/examples/ConnectionSearchZsideservicetokenuuid'
              ConnectionSearchZsideprofileuuid:
                $ref: '#/components/examples/ConnectionSearchZsideprofileuuid'
              ConnectionSearchANDwithNestedOR-LIKE:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedOR-LIKE'
              ConnectionSearchORwithNestedAND:
                $ref: '#/components/examples/ConnectionSearchORwithNestedAND'
              ConnectionSearchANDwithNestedIN:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedIN'
              ConnectionSearchANDClause:
                $ref: '#/components/examples/ConnectionSearchANDClause'
              ConnectionSearchANDwithNestedOR:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedOR'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSearchResponse'
              example:
              - href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
                type: EVPL_VC
                uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
                name: My-Layer2-Connection
                bandwidth: 1000
                direction: OUTGOING
                isRemote: true
                redundancy:
                  priority: PRIMARY
                  group: 7cf39156-9dec-40f7-a254-9bb401342e83
                aSide:
                  accessPoint:
                    type: COLO
                    uuid: b840a1db-5639-639f-97e0-328a5c00a874
                    name: exmapple-access-point-name-aside
                    port:
                      href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
                      uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
                  linkProtocol:
                    type: DOT1Q
                    vlanTag: 1001
                zSide:
                  accessPoint:
                    type: SP
                    uuid: b840a1db-5639-639f-97e0-328a5c00a875
                    name: exmapple-access-point-name-zside
                    profile:
                      href: https://api.equinix.com/fabric/v4/serviceProfiles/22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                      uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                    location:
                      metroCode: MX
                      metroName: Mexico City
                      sellerRegion: us-west-1
                routingProtocols:
                - type: EBGP
                  seqId: 03f7294b-42ce-42b6-9cc8-1e1b46d8183a
                  state: ACTIVE
                  customerAsn: 65500
                  providerAsn: 65000
                  bgpAuthKey: testAuthKey
                  ipv4:
                    customerPeerIp: 169.254.255.2/30
                    providerPeerIp: 169.254.255.1/30
                operation:
                  providerStatus: PROVISIONING
                  equinixStatus: PROVISIONED
                changeLog:
                  createdDateTime: 2020-05-21 10:30:00+00:00
                  updatedDateTime: 2020-05-21 10:30:00+00:00
                project:
                  projectId: 2c10d60e-29c1-4721-ad1a-b531f4e04717
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
              - errorCode: EQ-3000035
                errorMessage: Invalid request body
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
              - errorCode: EQ-3000197
                errorMessage: User not authorized to perform given action
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                example:
                  $ref: '#/components/examples/404'
  /fabric/v4/connections/validate:
    post:
      tags:
      - Connections
      summary: Validate Connection
      description: This API provides capability to validate by auth key
      operationId: validateConnections
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
            examples:
              Alibaba-ValidateAuthKey:
                $ref: '#/components/examples/Request_Alibaba'
              Aws-ValidateAuthKey:
                $ref: '#/components/examples/Request_AWS'
              Azure-ValidateAuthKey:
                $ref: '#/components/examples/Request_Azure'
              Google-ValidateAuthKey:
                $ref: '#/components/examples/Request_Google'
              IBM-1.0-ValidateAuthKey:
                $ref: '#/components/examples/Request_IBM_1'
              IBM-2.0-ValidateAuthKey:
                $ref: '#/components/examples/Request_IBM_2'
              Oracle-ValidateAuthKey:
                $ref: '#/components/examples/Request_Oracle'
              Dot1q-ValidateVlanAvailability:
                $ref: '#/components/examples/Dot1q_Vlan'
              Qinq-ValidateVlanAvailability:
                $ref: '#/components/examples/Qinq_Vlan'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
              examples:
                Alibaba-ValidateAuthKey:
                  $ref: '#/components/examples/Response-Alibaba'
                Aws-ValidateAuthKey:
                  $ref: '#/components/examples/Response-Aws'
                Azure-ValidateAuthKey-no-existing-connections:
                  $ref: '#/components/examples/Response-Azure-no-existing-connections'
                Azure-ValidateAuthKey-1-existing-Dot1q-connection:
                  $ref: '#/components/examples/Response-Azure-1-existing-Dot1q-connection'
                Azure-ValidateAuthKey-1-existing-Qinq-connection:
                  $ref: '#/components/examples/Response-Azure-1-existing-Qinq-connection'
                Azure-ValidateAuthKey-2-existing-Dot1q-connection:
                  $ref: '#/components/examples/Response-Azure-2-existing-Dot1q-connections'
                Google-ValidateAuthKey:
                  $ref: '#/components/examples/Response-Google'
                IBM-1.0-ValidateAuthKey:
                  $ref: '#/components/examples/Response-IBM-1'
                IBM-2.0-ValidateAuthKey:
                  $ref: '#/components/examples/Response-IBM-2'
                Oracle-ValidateAuthKey:
                  $ref: '#/components/examples/Response-Oracle'
                Dot1q-ValidateAuthKey:
                  $ref: '#/components/examples/Response-Dot1q-Vlan'
                Qinq-ValidateAuthKey:
                  $ref: '#/components/examples/Response-Qinq-Vlan'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              examples:
                Bad Request:
                  $ref: '#/components/examples/error-400'
components:
  examples:
    Vd2Colo-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/f37e40c5-2802-4df7-9732-839a8a5868ce
        uuid: f37e40c5-2802-4df7-9732-839a8a5868ce
        type: EVPL_VC
        name: vd to COLO
        bandwidth: 50
        redundancy:
          group: ac61e576-2830-46aa-85e6-5ae7cd49610c
          priority: PRIMARY
        order:
          purchaseOrderNumber: 1-323292
          billingTier: Up to 50 MB
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
        operation:
          equinixStatus: PROVISIONING
          providerStatus: NOT_AVAILABLE
        account:
          accountNumber: 201246
          orgId: 92610
        changeLog:
          createdDateTime: 2021-10-27 16:25:37.229000+00:00
        aSide:
          accessPoint:
            virtualDevice:
              type: EDGE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            linkProtocol:
              type: DOT1Q
              vlanTag: 15229
            interface:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
              type: NETWORK
              id: 4
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/SG
              metroCode: SG
        zSide:
          accessPoint:
            type: COLO
            port:
              href: https://api.equinix.com/fabric/v4/ports/20d32a80-0d61-4333-bc03-707b591ae2f4
              type: XF_PORT
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            linkProtocol:
              type: DOT1Q
              vlanTag: 300
    COLO2NETWORK_EPTREE_withEPLAndTerms:
      value:
        type: EPTREE_VC
        name: colo2network-eptree-vc
        bandwidth: 50
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
        zSide:
          accessPoint:
            type: NETWORK
            network:
              uuid: 25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
            role: LEAF
        order:
          purchaseOrderNumber: 1-129105284100
          termLength: 12
        project:
          projectId: ae708bbb-d669-406a-845a-99b39ff65fd0
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
    Response-Azure-no-existing-connections:
      value:
        additionalInfo:
        - key: message
          value: Authorization key provided is valid
        data:
        - bandwidth: 50
          redundancy:
            priority: PRIMARY
          zSide:
            accessPoint:
              type: COLO
              port:
                type: XF_PORT
                name: Port-Name-1
              location:
                metroCode: SV
              peeringType: PRIVATE
              linkProtocol:
                type: QINQ
                vlanSTag: 1003
        - bandwidth: 50
          redundancy:
            priority: SECONDARY
          zSide:
            accessPoint:
              type: COLO
              port:
                type: XF_PORT
                name: Port-Name-2
              location:
                metroCode: SV
              peeringType: PRIVATE
              linkProtocol:
                type: QINQ
                vlanSTag: 1003
        - bandwidth: 50
          redundancy:
            priority: PRIMARY
          zSide:
            accessPoint:
              type: COLO
              port:
                type: XF_PORT
                name: Port-Name-3
              location:
                metroCode: SV
              peeringType: MICROSOFT
              linkProtocol:
                type: QINQ
                vlanSTag: 1003
        - bandwidth: 50
          redundancy:
            priority: SECONDARY
          zSide:
            accessPoint:
              type: COLO
              port:
                type: XF_PORT
                name: Port-Name-4
              location:
                metroCode: SV
              peeringType: MICROSOFT
              linkProtocol:
                type: QINQ
                vlanSTag: 1003
    COLO2NETWORKwithDot1qAndTerms-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/f3dd7395-7196-45f4-9b6f-54094aa75f53
        type: EVPLAN_VC
        uuid: f3dd7395-7196-45f4-9b6f-54094aa75f53
        name: colo2network-evplan-vc
        operation:
          providerStatus: NOT_AVAILABLE
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-129105284100
          billingTier: Up to 50 MB
          termLength: 24
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-04-23 02:51:07.675000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-04-23 02:51:07.675000+00:00
        bandwidth: 50
        redundancy:
          group: ecebee55-975b-4017-857c-74617f821b87
          priority: PRIMARY
        aSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/DA
              metroCode: DA
            port:
              href: https://api.equinix.com/fabric/v4/ports/9127bb72-5f4f-4517-be74-3af7ce612687
              type: XF_PORT
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
              name: 1-DA1-port
            linkProtocol:
              type: DOT1Q
              vlanTag: 307
        zSide:
          accessPoint:
            network:
              href: https://api.equinix.com/fabric/v4/networks/25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              uuid: 25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              name: EVPLAN-GLOBAL
              platformUuid: afe28606-8021-4161-802c-b80d4bc22f20
              state: ACTIVE
              type: EVPLAN
              scope: GLOBAL
              location: null
    Fcr2Metal-Network:
      value:
        type: IP_VC
        name: My-FCR-MetalNetwork-Connection
        bandwidth: 50
        redundancy:
          group: a00cef6f-8e35-4794-9ff9-665e084e4e6d
          priority: SECONDARY
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              uuid: 66a21614-1c4a-11ec-9621-0242ac130002
        zSide:
          accessPoint:
            type: METAL_NETWORK
            authenticationKey: xxxxxxxxx
        project:
          projectId: '567'
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    ConnectionUpdateTermLengthResponse:
      value:
        href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
        type: EVPL_VC
        uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
        name: dha_p2p_CH_1m
        change:
          uuid: 9b9f8a9b-4583-4649-9d91-a48494f822a7
          type: CONNECTION_UPDATE
          createdDateTime: 2025-09-10 12:33:42.916000+00:00
          data:
            op: replace
        operation:
          providerStatus: AVAILABLE
          equinixStatus: PROVISIONED
        order:
          billingTier: Up to 200 MB
          termLength: 12
        notifications:
        - type: ALL
          emails:
          - testuser@equinix.com
        changeLog:
          createdBy: testuser
          createdDateTime: 2025-09-10 12:26:12.344000+00:00
          updatedBy: testuser
          updatedDateTime: 2025-09-10 12:33:42.996000+00:00
        bandwidth: 200
        redundancy:
          group: 561082c7-d979-4beb-9536-520cc5b9d0ac
          priority: PRIMARY
        aSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/DC
              metroCode: DC
            port:
              href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
              type: XF_PORT
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
              name: gen-l2-qa-01-auto-DC5-NL-Dot1q-STD-PRI-1G-JUN-51
            linkProtocol:
              type: DOT1Q
              vlanTag: 1246
        zSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/CH
              metroCode: CH
            port:
              href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
              type: XF_PORT
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
              name: gen-l2-qa-01-auto-CH1-L-Dot1q-BO-PRI-10G-JUN-189
            linkProtocol:
              type: DOT1Q
              vlanTag: 1247
    Vd2AlibabaSP:
      value:
        type: EVPL_VC
        name: vd2alibaba-connection-1
        bandwidth: 50
        aSide:
          accessPoint:
            type: VD
            virtualDevice:
              type: EDGE
              uuid: e16136fd-05ef-49dd-ab98-9f8e619619e9
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 4c4b8edf-873b-4c6c-805a-edb2c335bd6c
            location:
              metroCode: SV
            authenticationKey: xxxx-xx-xxxx
            sellerRegion: us-west-1
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
        project:
          projectId: 16799d66-ef43
    COLO2COLO-MetroConnect:
      value:
        type: MC_VC
        name: metro-connect-P2P
        bandwidth: 1000
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
        zSide:
          accessPoint:
            type: COLO
            port:
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    Response-Azure-2-existing-Dot1q-connections:
      value:
        additionalInfo:
        - key: message
          value: Authorization key provided is valid
        data:
        - bandwidth: 50
          redundancy:
            priority: SECONDARY
          aside:
            accessPoint:
              type: CLOUD_ROUTER
          zSide:
            accessPoint:
              type: COLO
              port:
                type: XF_PORT
                name: Port-Name-2
              location:
                metroCode: SV
              peeringType: MICROSOFT
              linkProtocol:
                type: QINQ
                vlanSTag: 1003
        - bandwidth: 50
          redundancy:
            priority: SECONDARY
          aside:
            accessPoint:
              type: CLOUD_ROUTER
          zSide:
            accessPoint:
              type: COLO
              port:
                type: XF_PORT
                name: Port-Name-3
              location:
                metroCode: SV
              peeringType: MICROSOFT
              linkProtocol:
                type: QINQ
                vlanSTag: 1003
    COLO2OracleSP-Response:
      value:
        type: EVPL_VC
        href: https://api.equinix.com/fabric/v4/connections/6c157170-f84d-424a-9396-b5d6ee723296
        uuid: 6c157170-f84d-424a-9396-b5d6ee723296
        name: vd2oracle-connection-1
        operation:
          providerStatus: PROVISIONING
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-129105284100
          billingTier: Up to 1G
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-05-02 20:25:09.841000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-05-02 20:25:09.841000+00:00
        bandwidth: 1000
        redundancy:
          group: e8400059-34e1-47f1-9914-cb5907ee7913
          priority: PRIMARY
        aSide:
          accessPoint:
            location:
              metroCode: SV
            port:
              type: XF_PORT
              href: https://api.equinix.com/fabric/v4/ports/b54d71a6-aecb-40cc-b458-8a4103f5cdba
              uuid: b54d71a6-aecb-40cc-b458-8a4103f5cdba
              name: 641728-SV5-1
            linkProtocol:
              type: DOT1Q
              vlanTag: 1021
        zSide:
          accessPoint:
            location:
              metroCode: DC
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/60ef0382-cdaa-44e7-bd36-b803731816b8
              type: L2_PROFILE
              name: Oracle Cloud Infrastructure FastConnect
              uuid: 60ef0382-cdaa-44e7-bd36-b803731816b8
            sellerRegion: us-ashburn-1
            authenticationKey: ocid1.virtualcircuit.oc1.iad-xxx-xxxx
    Fcr2Vd:
      value:
        type: IP_VC
        name: My-GW-VDConnection
        bandwidth: 100
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              uuid: 66a21614-1c4a-11ec-9621-0242ac130002
        zSide:
          accessPoint:
            type: VD
            virtualDevice:
              type: EDGE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            interface:
              type: NETWORK
              id: 3
        project:
          projectId: '567'
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    Metal2Sp-Generic:
      value:
        type: EVPL_VC
        name: Metal2Generic
        bandwidth: 1000
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: METAL_NETWORK
            authenticationKey: xxxxxxxxx
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
            location:
              metroCode: DC
        notifications:
        - type: ALL
          emails:
          - test@test.com
    COLO2COLO-MetroConnect-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
        type: MC_VC
        uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
        name: metro-connect-P2P
        bandwidth: 1000
        redundancy:
          group: e04db764-f865-470b-8394-d2efdd651577
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            linkProtocol:
              type: UNTAGGED
            location:
              metroCode: ME
        zSide:
          accessPoint:
            type: COLO
            port:
              href: https://api.equinix.com/fabric/v4/ports/20d32a80-0d61-4333-bc03-707b591ae2f4
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            linkProtocol:
              type: UNTAGGED
            location:
              metroCode: ME
        operation:
          providerStatus: NOT_AVAILABLE
          equinixStatus: PROVISIONING
        changeLog:
          createdDateTime: 2020-05-21 10:30:00+00:00
        project:
          projectId: 37c8212c-c393-465c-8267-09d28c49774c
    Vd2OracleSP:
      value:
        type: EVPL_VC
        name: vd2oracle-connection-1
        bandwidth: 1000
        aSide:
          accessPoint:
            type: VD
            virtualDevice:
              type: EDGE
              uuid: e16136fd-05ef-49dd-ab98-9f8e619619e9
        zSide:
          accessPoint:
            type: SP
            profile:
              uuid: 60ef0382-cdaa-44e7-bd36-b803731816b8
            location:
              metroCode: DC
            authenticationKey: ocid1.virtualcircuit.oc1
            sellerRegion: us-ashburn-1
        project:
          projectId: 16799d66-ef43
        order:
          purchaseOrderNumber: 1-129105284100
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
    Metal2Sp-Aws:
      value:
        type: EVPL_VC
        name: My-Metal-sp-connection
        bandwidth: '1000'
        aSide:
          accessPoint:
            type: METAL_NETWORK
            authenticationKey: xxxxxxxxx
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
            authenticationKey: xxxxxxxxx
            sellerRegion: us-west-1
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
        project:
          projectId: 567
    Fcr2Sp-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/0ed42ea7-2df8-470d-ad59-e432d768b4f1
        type: IP_VC
        uuid: 0ed42ea7-2df8-470d-ad59-e432d768b4f1
        name: GP_FG2GCP_001
        bandwidth: 50
        redundancy:
          group: 4f786b3f-27d4-48e0-8571-423d085826c1
          priority: PRIMARY
        order:
          billingTier: Up to 50 MB
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              href: https://api.equinix.com/fabric/v4/routers/56d267f3-a566-47a8-8cf9-40e6cc925bf0
              uuid: 56d267f3-a566-47a8-8cf9-40e6cc925bf0
              name: My-FG-1
        zSide:
          accessPoint:
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/c7922adf-34b5-4d4e-a87c-cae8c899ef90
              uuid: c7922adf-34b5-4d4e-a87c-cae8c899ef90
              name: Google Cloud Partner Interconnect Zone 2
              type: L2_PROFILE
            authenticationKey: xx-xxx-xx-xxxxx/xxx/x
            sellerRegion: us-west1
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/SV
              metroCode: SV
        operation:
          equinixStatus: PROVISIONING
          providerStatus: PROVISIONING
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
        changeLog:
          createdBy: test
          createdDateTime: 2022-05-12 17:53:45.401000+00:00
    COLO2AzureSP-Primary-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/5901c429-cd23-4149-b1cc-5f1b10cc5041
        type: EVPL_VC
        uuid: 5901c429-cd23-4149-b1cc-5f1b10cc5041
        name: port2azure-connection-1
        operation:
          providerStatus: PROVISIONING
          equinixStatus: PROVISIONING
        order:
          billingTier: Up to 200 MB
          termLength: 1
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
        changeLog:
          createdBy: fabricuser
          createdDateTime: 2026-03-10 02:26:31.546000+00:00
          updatedBy: fabricuser
          updatedDateTime: 2026-03-10 02:26:31.546000+00:00
        bandwidth: 100
        redundancy:
          group: ce76ec16-5857-4472-9067-2fa3d7a9f52q
          priority: PRIMARY
        aSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/DA
              metroCode: DA
            port:
              href: https://api.equinix.com/fabric/v4/ports/d966b9ce-79ed-4ea6-8f8a-785fd69f3dcb
              type: XF_PORT
              uuid: d966b9ce-79ed-4ea6-8f8a-785fd69f3dcb
              name: 1-DA1-CX-PRI-012345
            linkProtocol:
              type: DOT1Q
              vlanTag: 123
        zSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/DC
              metroCode: DC
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/a1390b22-bbe0-4e93-ad37-85beef9d254a
              type: L2_PROFILE
              name: Azure ExpressRoute
              uuid: a1390b22-bbe0-4e93-ad37-85beef9d254a
            authenticationKey: xxxx-xxx-xxxx
    Connection_Deletion_Acceptance:
      value:
        type: CONNECTION_DELETION_ACCEPTANCE
    ConnectionSearchAsideaccesspointname:
      value:
        filter:
          and:
          - property: /aSide/accessPoint/port/name
            operator: '='
            values:
            - l2-qa-1-DA1-L-Dot1q-STD-SEC-10G-NK-385
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    ConnectionSearchName:
      value:
        filter:
          and:
          - property: /name
            operator: '='
            values:
            - AWS-Dot1Q-AWSRemote
        pagination:
          limit: 25
          offset: 0
        sort:
        - property: /changeLog/updatedDateTime
          direction: DESC
    Connection_Update_Rejection:
      value:
        type: CONNECTION_UPDATE_REJECTION
        description: Invalid connection update request
    COLO2NETWORKwithEPL-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/cce170c5-a496-4928-8426-507e00818887
        type: EPLAN_VC
        uuid: cce170c5-a496-4928-8426-507e00818887
        name: colo2network-eplan-vc
        operation:
          providerStatus: NOT_AVAILABLE
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-129105284100
          billingTier: Up to 50 MB
        notifications:
        - type: ALL
          emails:
          - fabric@test.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-04-23 03:07:17.587000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-04-23 03:07:17.587000+00:00
        bandwidth: 50
        redundancy:
          group: dbab0e00-db97-4abf-aebe-76c7a40a371e
          priority: PRIMARY
        aSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/SP
              metroCode: SP
            port:
              href: https://api.equinix.com/fabric/v4/ports/9127bb72-5f4f-4517-be74-3af7ce612687
              type: XF_PORT
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
              name: 505783-port
            linkProtocol:
              type: UNTAGGED
        zSide:
          accessPoint:
            network:
              href: https://api.equinix.com/fabric/v4/networks/25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              uuid: 25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              name: EPLAN-GLOBAL
              platformUuid: 8abb8305-258b-4690-9b49-714962591add
              state: ACTIVE
              type: EPLAN
              scope: GLOBAL
              location: null
    ConnectionSearchZsidevlanstagctag:
      value:
        filter:
          and:
          - property: /zSide/accessPoint/linkProtocol/vlanSTag
            operator: '='
            values:
            - '4002'
          - property: /zSide/accessPoint/linkProtocol/vlanCTag
            operator: '='
            values:
            - '0'
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    Vd2NETWORK-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/e1f165fd-29bb-4c15-8ec7-56242677e6fc
        type: EVPLAN_VC
        uuid: e1f165fd-29bb-4c15-8ec7-56242677e6fc
        name: vd2network-connection
        operation:
          providerStatus: NOT_AVAILABLE
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-1234567890
          billingTier: Up to 50 MB
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-04-23 02:12:20.334000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-04-23 02:12:20.334000+00:00
        bandwidth: 50
        redundancy:
          group: daaaa2be-01ff-4009-9a97-da77562041db
          priority: PRIMARY
        aSide:
          accessPoint:
            interface:
              uuid: a4c60de7-09b2-4237-b831-4849d7dd3d92
              id: 5
              type: CLOUD
            location:
              metroCode: DC
            virtualDevice:
              uuid: e99ec19c-0939-4c47-bfc1-ff94f99ccc75
              type: EDGE
        zSide:
          accessPoint:
            network:
              href: https://api.equinix.com/fabric/v4/networks/05eeb1d2-5b82-4c9b-9eb9-496085ce8bb2
              uuid: 05eeb1d2-5b82-4c9b-9eb9-496085ce8bb2
              name: EVPLAN-GLOBAL-1
              platformUuid: afe28606-8021-4161-802c-b80d4bc22f20
              state: ACTIVE
              type: EVPLAN
              scope: GLOBAL
              location: null
    ConnectionSearchZsideservicetokenuuid:
      value:
        filter:
          and:
          - property: /zSide/serviceToken/uuid
            operator: '='
            values:
            - 019eab69-8293-4abf-ac8c-e6269d5a3e92
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    CreateConnectionDryRunRequest:
      value:
        type: EVPL_VC
        name: My-EVPL-Connection
        bandwidth: 500
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: 2a4fb415-5a7f-436f-bae6-02f5e403deec
            linkProtocol:
              type: DOT1Q
              vlanTag: 1137
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 92dc376a-a932-43aa-a6a2-c806dedbd784
            location:
              metroCode: DC
        project:
          projectId: a347a370-39b5-427f-c330-7471a9abd9
        order:
          purchaseOrderNumber: 1-129105284100
        notifications:
        - type: ALL
          emails:
          - test@test.com
    ConnectionMigrationAsideRequest:
      value:
      - op: replace
        path: /aSide/accessPoint/port/uuid
        value: 5e7fd31d-f1e8-46fe-b6ad-6f5f2306cfd8
    ConnectionSearchRedundancygroup:
      value:
        filter:
          and:
          - operator: '='
            property: /redundancy/group
            values:
            - 3f7ab592-0db3-41b8-bb9a-ecc05d5d5732
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    COLO2NETWORK_EPTREE_withEPL-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/cce170c5-a496-4928-8426-507e00818887
        type: EPTREE_VC
        uuid: cce170c5-a496-4928-8426-507e00818887
        name: colo2network-eptree-vc
        operation:
          providerStatus: NOT_AVAILABLE
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-129105284100
          billingTier: Up to 50 MB
        notifications:
        - type: ALL
          emails:
          - fabric@test.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-04-23 03:07:17.587000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-04-23 03:07:17.587000+00:00
        bandwidth: 50
        redundancy:
          group: dbab0e00-db97-4abf-aebe-76c7a40a371e
          priority: PRIMARY
        aSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/SP
              metroCode: SP
            port:
              href: https://api.equinix.com/fabric/v4/ports/9127bb72-5f4f-4517-be74-3af7ce612687
              type: XF_PORT
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
              name: 505783-port
            linkProtocol:
              type: UNTAGGED
        zSide:
          accessPoint:
            network:
              href: https://api.equinix.com/fabric/v4/networks/25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              uuid: 25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              name: EPTREE-GLOBAL
              platformUuid: 47aedd04-64dc-4e86-8da3-f88a9755a214
              state: ACTIVE
              type: EPTREE
              scope: GLOBAL
              location: null
            role: LEAF
    Request_AWS:
      value:
        filter:
          and:
          - property: /zSide/accessPoint/authenticationKey
            operator: '='
            values:
            - xxx-xxx-xxx
          - property: /zSide/accessPoint/profile/uuid
            operator: '='
            values:
            - xxx-xxx-xxx
          - property: /zSide/accessPoint/sellerRegion
            operator: '='
            values:
            - us-west-1
    COLO2COLO-EPL-Terms:
      value:
        type: EPL_VC
        name: Conn-1
        order:
          purchaseOrderNumber: 1-129105284100
          termLength: 12
        bandwidth: 100
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            location:
              metroCode: SV
        zSide:
          accessPoint:
            type: COLO
            port:
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            location:
              metroCode: DC
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    CreateConnectionDryRunResponse-Colo2Network-EPLAN_VC:
      value:
        type: EPLAN_VC
        name: My Colo to Network EPLAN_VC Connection
        bandwidth: 50
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              href: https://api.equinix.com/fabric/v4/ports/2a4fb415-5a7f-436f-bae6-02f5e403deec
              uuid: 2a4fb415-5a7f-436f-bae6-02f5e403deec
            linkProtocol:
              type: DOT1Q
              vlanTag: 1137
        zSide:
          accessPoint:
            type: NETWORK
            network:
              href: https://api.equinix.com/fabric/v4/networks/20d32a80-0d61-4333-bc03-707b591ae2f4
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
        project:
          projectId: a347a370-39b5-427f-c330-7471a9abd9
        order:
          purchaseOrderNumber: 1-129105284100
        notifications:
        - type: ALL
          emails:
          - test@test.com
    Response-Google:
      value:
        additionalInfo:
        - key: message
          value: Authorization key provided is valid
    ConnectionSearchDirection:
      value:
        filter:
          and:
          - property: /direction
            operator: '='
            values:
            - OUTGOING
        pagination:
          limit: 25
          offset: 0
          total: 0
        sort:
        - property: /changeLog/updatedDateTime
          direction: DESC
    ConnectionSearchZsideprofileuuid:
      value:
        filter:
          and:
          - property: /zSide/accessPoint/profile/uuid
            operator: '='
            values:
            - c6b96cec-cf70-4700-9c1e-2f73724d2fa5
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    Vd2GoogleSP-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/50ae793c-b466-4d71-9724-c32b5e402bbe
        type: EVPL_VC
        uuid: 50ae793c-b466-4d71-9724-c32b5e402bbe
        name: vd2googleSp-connection-1
        operation:
          providerStatus: PROVISIONING
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-1234567890
          billingTier: Up to 50 MB
        notifications:
        - type: ALL
          emails:
          - fabric@equinx.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-04-25 14:06:48.933000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-04-25 14:06:48.933000+00:00
        bandwidth: 50
        redundancy:
          group: bd03b85b-18c9-4a80-b589-727d232077d2
          priority: PRIMARY
        aSide:
          accessPoint:
            interface:
              uuid: 3520bc9a-d7e6-440b-9196-656beb54b300
              id: 7
              type: CLOUD
            location:
              metroCode: DC
            virtualDevice:
              uuid: e99ec19c-0939-4c47-bfc1-ff94f99ccc75
              type: EDGE
        zSide:
          accessPoint:
            location:
              metroCode: SV
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/bd4570e2-d792-4a00-87f5-3bde040cdcd7
              type: L2_PROFILE
              name: Google Cloud Partner Interconnect Zone 1
              uuid: bd4570e2-d792-4a00-87f5-3bde040cdcd7
            sellerRegion: us-west2
            authenticationKey: xxxx-xxxx/us-west2/1
    Connection_Update_Request_VC_Migration:
      value:
        type: CONNECTION_UPDATE_REQUEST
        data:
          zSide:
            accessPoint:
              type: COLO
              port:
                uuid: c791f8cb-5a47-a470-8ce0-306a5c00a4ee
    Qinq_Vlan:
      value:
        filter:
          and:
          - property: /zSide/accessPoint/port/uuid
            operator: '='
            values:
            - 77b1b527-1a0f-42eb-9173-6d91723556b8
          - property: /zSide/accessPoint/linkProtocol/vlanSTag
            operator: '='
            values:
            - '155'
          - property: /zSide/accessPoint/linkProtocol/vlanCTag
            operator: '='
            values:
            - '156'
    ConnectionSearchANDClause:
      value:
        filter:
          and:
          - property: /direction
            operator: '='
            values:
            - OUTGOING
            - INTERNAL
          - property: /aSide/accessPoint/port/uuid
            operator: '='
            values:
            - c791f8cb-5941-9410-8ce0-306a5c00a4ee
          - property: /operation/equinixStatus
            operator: '='
            values:
            - PROVISIONED
          - property: /operation/providerStatus
            operator: '='
            values:
            - PROVISIONED
            - AVAILABLE
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          limit: 25
          offset: 0
    Fcr2Sp-Aws:
      value:
        type: IP_VC
        name: My-FCR-AWSConnection
        bandwidth: 100
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              uuid: 66a21614-1c4a-11ec-9621-0242ac130002
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f5
            location:
              metroCode: SV
            sellerRegion: us-west-1
            authenticationKey: xx-xx-xx
        project:
          projectId: '567'
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    Vd2OracleSP-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/53c89f1a-0be7-44a1-9c03-28059632a72d
        type: EVPL_VC
        uuid: 53c89f1a-0be7-44a1-9c03-28059632a72d
        name: vd2oracle-connection-1
        operation:
          providerStatus: PROVISIONING
          equinixStatus: PROVISIONING
        order:
          purchaseOrderNumber: 1-129105284100
          billingTier: Up to 1G
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-04-25 20:40:40.676000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-04-25 20:40:40.677000+00:00
        bandwidth: 1000
        redundancy:
          group: 43009a55-87ee-4dff-8ae4-70ccb7c3d4e9
          priority: PRIMARY
        aSide:
          accessPoint:
            interface:
              uuid: ca838fd7-74cc-4786-94f4-69405671d0e4
              id: 5
              type: CLOUD
            location:
              metroCode: DC
            virtualDevice:
              uuid: e16136fd-05ef-49dd-ab98-9f8e619619e9
              type: EDGE
        zSide:
          accessPoint:
            location:
              metroCode: DC
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/60ef0382-cdaa-44e7-bd36-b803731816b8
              type: L2_PROFILE
              name: Oracle Cloud Infrastructure FastConnect
              uuid: 60ef0382-cdaa-44e7-bd36-b803731816b8
            sellerRegion: us-ashburn-1
            authenticationKey: ocid1.virtualcircuit.oc1
    COLO2IBM_2:
      value:
        type: EVPL_VC
        name: My-Layer2-Connection-3
        bandwidth: 1000
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            linkProtocol:
              type: DOT1Q
              vlanTag: 1001
        order:
          purchaseOrderNumber: po1234
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
            location:
              metroCode: DC
            authenticationKey: xxx-xxx-xxx
            sellerRegion: San Jose 2
        notifications:
        - type: ALL
          emails:
          - test@test.com
        additionalInfo:
        - key: ASN
          value: 1234
        - key: Global
          value: false
        - key: BGP_IBM_CIDR
          value: 172.16.0.18/30
        - key: BGP_CER_CIDR
          value: 172.16.0.19/30
    ConnectionSearchUpdatedatetime:
      value:
        filter:
          and:
          - property: /changeLog/updatedDateTime
            operator: '='
            values:
            - 2021-01-02 00:00:00+00:00
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    AsideServiceToken2PortResponseWithDot1q:
      value:
        href: http://api.equinix.com/fabric/v4/connections/a00cef6f-8e35-4794-9ff9-665e084e4e6d
        type: EVPL_VC
        uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
        name: a-token qinq-dot1q
        state: ACTIVE
        operation:
          providerStatus: NOT_AVAILABLE
          equinixStatus: PROVISIONING
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
        account:
          accountNumber: 201246
          orgId: 92610
          globalOrgId: 0017i000011X250AAC
        changeLog:
          createdBy: testuser
          createdDateTime: 2022-05-16 07:50:49.749000+00:00
        bandwidth: 50
        redundancy:
          group: a00cef6f-8e35-4794-9ff9-665e084e4e6d
          priority: PRIMARY
        isRemote: true
        direction: OUTGOING
        aSide:
          serviceToken:
            uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
          accessPoint:
            location:
              metroHref: http://api.equinix.com/fabric/v4/metros/SV
              metroCode: SV
            port:
              href: http://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
              name: test-port-name-2
            linkProtocol:
              type: DOT1Q
              vlanTag: 1231
            account:
              accountNumber: 201246
              organizationName: testOrganization
        zSide:
          accessPoint:
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/LD
              region: EMEA
              metroName: London
              metroCode: LD
            port:
              href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
              name: test-port-name-1
            linkProtocol:
              type: DOT1Q
              vlanTag: 1321
            account:
              accountNumber: 201246
              organizationName: xxxxx
        order:
          purchaseOrderNumber: '1122334'
          billingTier: Up to 50 MB
    Vd2Colo:
      value:
        type: EVPL_VC
        bandwidth: 1000
        name: vd to COLO
        aSide:
          accessPoint:
            type: VD
            virtualDevice:
              type: EDGE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            interface:
              type: NETWORK
              id: 3
        zSide:
          accessPoint:
            type: COLO
            port:
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            linkProtocol:
              type: DOT1Q
              vlanTag: 300
        order:
          purchaseOrderNumber: 1-129105284100
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    Metal2Sp-GCP:
      value:
        type: EVPL_VC
        name: Metal2GCP-Connection
        bandwidth: '50'
        aSide:
          accessPoint:
            type: METAL_NETWORK
            authenticationKey: xxxxxxxxx
        zSide:
          accessPoint:
            type: SP
            profile:
              uuid: 063f4b0f-2d5b-4db7-95da-d9eddfc92602
            location:
              metroCode: SV
            authenticationKey: xxxxxxxxx
            sellerRegion: us-west1
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
        project:
          projectId: '377533000114703'
    Metal2Sp-Aws-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/f37e40c5-2802-4df7-9732-839a8a5868ce
        type: EVPL_VC
        uuid: f37e40c5-2802-4df7-9732-839a8a5868ce
        name: My-Metal2Aws-Connection
        bandwidth: 1000
        redundancy:
          group: 3cbd354d-d147-4552-bfd0-78c559b4cc91
          priority: PRIMARY
        aSide:
          accessPoint:
            type: METAL_NETWORK
            virtualNetwork:
              href: https://api.equinix.com/metal/v1/virtual-networks/a867f685-41b0-1b07-6de0-320a5c00abd
              uuid: a867f685-41b0-1b07-6de0-320a5c00abd
            interface:
              projectId: 497f6eca-6276-4993-bfeb-53cbbbba6f08
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
            authenticationKey: xxxx-xxx-xxxx
            sellerRegion: us-west-1
        order:
          purchaseOrderNumber: 1-129105284100
        project:
          projectId: 567
        operation:
          equinixStatus: PROVISIONING
          providerStatus: NOT_AVAILABLE
        account:
          href: https://api.equinix.com/accountService/v1/accounts/123213
          accountNumber: 123213
          notifications:
          - type: ALL
            emails:
            - fabric@gmail.com
            - fabric1@gmail.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2020-05-21 10:30:00+00:00
    Request_IBM_2:
      value:
        filter:
          and:
          - property: /zSide/accessPoint/authenticationKey
            operator: '='
            values:
            - xxx-xxx-xxx
          - property: /zSide/accessPoint/profile/uuid
            operator: '='
            values:
            - xxx-xxx-xxx
          - property: /zSide/accessPoint/sellerRegion
            operator: '='
            values:
            - San Jose 2
    Fcr2Sp-Aws-marketplaceSubscription:
      value:
        type: IP_VC
        name: My-FCR-AWSConnection
        bandwidth: 100
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              uuid: 66a21614-1c4a-11ec-9621-0242ac130002
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f5
            location:
              metroCode: SV
            sellerRegion: us-west-1
            authenticationKey: xx-xx-xx
        project:
          projectId: ae708bbb-d669-406a-845a-99b39ff65fd0
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    ConnectionSearchZsidemetrocodemetroname:
      value:
        filter:
          and:
          - property: /zSide/accessPoint/location/metroCode
            operator: '='
            values:
            - DA
          - property: /zSide/accessPoint/location/metroName
            operator: '='
            values:
            - Dallas
        sort:
        - direction: DESC
          property: /changeLog/updatedDateTime
        pagination:
          total: 0
          limit: 25
          offset: 0
    Response-IBM-1:
      value:
        additionalInfo:
        - key: message
          value: Authorization key provided is valid
    Metal2Sp-Oracle-Response:
      value:
        type: EVPL_VC
        href: https://api.equinix.com/fabric/v4/connections/7a21d5d8-f153-45f8-ad76-f92babf3f103
        uuid: 7a21d5d8-f153-45f8-ad76-f92babf3f103
        name: Metal2Oracle-Connection
        operation:
          providerStatus: PROVISIONING
          equinixStatus: PROVISIONING
        order:
          billingTier: Up to 50Mb
        notifications:
        - type: ALL
          emails:
          - test@gmail.com
        changeLog:
          createdBy: fabric
          createdDateTime: 2024-03-19 23:09:15.547000+00:00
          updatedBy: fabric
          updatedDateTime: 2024-03-19 23:09:15.547000+00:00
        bandwidth: 50
        redundancy:
          group: 9674d5cf-03a4-4129-933f-60d21e0f3ddb
          priority: PRIMARY
        aSide:
          accessPoint:
            type: METAL_NETWORK
            virtualNetwork:
              uuid: d357394a-3453-415b-8bf3-4ea95b3b13fd
            interconnection:
              uuid: 7fcf077d-3383-4e22-9173-7b415fdfd1bd
        zSide:
          accessPoint:
            location:
              metroCode: SV
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/60ef0382-cdaa-44e7-bd36-b803731816b8
              type: L2_PROFILE
              name: Oracle Cloud Infrastructure FastConnect
              uuid: 60ef0382-cdaa-44e7-bd36-b803731816b8
            sellerRegion: us-sanjose-1
            authenticationKey: xxxxxxxxx
    Metal2Sp-Azure:
      value:
        type: EVPL_VC
        name: Metal2Azure Connection
        bandwidth: '50'
        aSide:
          accessPoint:
            type: METAL_NETWORK
            authenticationKey: xxxxxxxxx
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: a1390b22-bbe0-4e93-ad37-85beef9d254d
            location:
              metroCode: SV
            authenticationKey: xxxxxxxxx
            peeringType: PRIVATE
        notifications:
        - type: ALL
          emails:
          - eqxfabricamcrh@gmail.com
        project:
          projectId: 16799d66-ef43-445c-ba29-d17522d8a137
    Fcr2Sp-Generic:
      value:
        type: IP_VC
        name: My-FCR-GenericConnection
        bandwidth: 1000
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              uuid: 66a21614-1c4a-11ec-9621-0242ac130002
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f5
            location:
              metroCode: SV
        order:
          purchaseOrderNumber: 1-129105284100
        project:
          projectId: '567'
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    Connection_Provider_Bandwidth_Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/9b8c5042-b553-4d5e-a2ac-c73bf6d4fd81/actions/37c10edc-ba2e-4240-a850-8a48f9c47d00
        type: CONNECTION_PROVIDER_BANDWIDTH_REQUEST
        uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
        data:
          providerBandwidth: 500
        changeLog:
          createdDateTime: 2020-04-21 10:30:00+00:00
          updatedDateTime: 2020-05-21 10:30:00+00:00
    COLO2NETWORK_EVPTREE_withDot1qAndTerms:
      value:
        type: EVPTREE_VC
        name: colo2network-evptree-vc
        bandwidth: 50
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: 9127bb72-5f4f-4517-be74-3af7ce612687
            linkProtocol:
              type: DOT1Q
              vlanTag: 300
        zSide:
          accessPoint:
            type: NETWORK
            network:
              uuid: 25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
            role: LEAF
        order:
          purchaseOrderNumber: 1-129105284100
          termLength: 24
        project:
          projectId: ae708bbb-d669-406a-845a-99b39ff65fd0
        notifications:
        - type: ALL
          emails:
          - fabric@equinix.com
    Fcr2Sp-marketplaceSubscription-Response:
      value:
        href: https://api.equinix.com/fabric/v4/connections/0ed42ea7-2df8-470d-ad59-e432d768b4f1
        type: IP_VC
        uuid: 0ed42ea7-2df8-470d-ad59-e432d768b4f1
        name: GP_FG2GCP_001
        bandwidth: 50
        redundancy:
          group: 4f786b3f-27d4-48e0-8571-423d085826c1
          priority: PRIMARY
        order:
          billingTier: Up to 50 MB
        aSide:
          accessPoint:
            type: CLOUD_ROUTER
            router:
              href: https://api.equinix.com/fabric/v4/routers/56d267f3-a566-47a8-8cf9-40e6cc925bf0
              uuid: 56d267f3-a566-47a8-8cf9-40e6cc925bf0
        zSide:
          accessPoint:
            type: SP
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/c7922adf-34b5-4d4e-a87c-cae8c899ef90
              uuid: c7922adf-34b5-4d4e-a87c-cae8c899ef90
        marketplaceSubscription:
          href: https://api.equinix.com/fabric/v4/marketplaceSubscriptions/20d32a80-0d61-4333-bc03-707b591ae2f5
          type: AWS_MARKETPLACE_SUBSCRIPTION
          uuid: 20d32a80-0d61-4333-bc03-707b591ae2f5
        operation:
          equinixStatus: PROVISIONING
          providerStatus: PROVISIONING
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
        changeLog:
          createdBy: test
          createdDateTime: 2022-05-12 17:53:45.401000+00:00
    Response-Dot1q-Vlan:
      value:
        additionalInfo:
        - key: message
          value: vlanTag(s) provided is available
    Response-Aws:
      value:
        additionalInfo:
        - key: message
          value: Authorization key provided is valid
    COLO2COLOwithDot1q-Dot1q:
      value:
        type: EVPL_VC
        name: My-Layer2-Connection-3
        bandwidth: 1000
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: a8ba52de-faae-43b5-b0b1-6904d37ee063
            linkProtocol:
              type: DOT1Q
              vlanTag: 1001
        order:
          purchaseOrderNumber: po1234
        zSide:
          accessPoint:
            type: COLO
            port:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            linkProtocol:
              type: DOT1Q
              vlanTag: 1001
        notifications:
        - type: ALL
          emails:
          - test@test.com
    COLO2IBM_1:
      value:
        type: EVPL_VC
        name: My-Layer2-Connection-3
        bandwidth: 1000
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            linkProtocol:
              type: DOT1Q
              vlanTag: 1001
        order:
          purchaseOrderNumber: po1234
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
            location:
              metroCode: DC
            authenticationKey: xxx-xxx-xxx
            sellerRegion: San Jose 2
        notifications:
        - type: ALL
          emails:
          - test@test.com
        additionalInfo:
        - key: ASN
          value: 1234
        - key: Global
          value: false
    Vd2Sp-Primary:
      value:
        type: EVPL_VC
        bandwidth: 50
        name: Network Device to SP
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: VD
            virtualDevice:
              type: EDGE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            interface:
              type: NETWORK
              id: 3
        zSide:
          accessPoint:
            type: SP
            profile:
              type: L2_PROFILE
              uuid: 95542b34-cf1c-41aa-89f7-590946f9df53
            authenticationKey: xx-xx-xx
            sellerRegion: us-west-1
        order:
          purchaseOrderNumber: 1-323292
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
    ConnectionSearchCloudRouteruuid:
      value:
        filter:
          and:
          - property: /aSide/accessPoint/router/uuid
            operator: '='
            values:
            - 742e5b08-385a-4f50-94b8-08acdf91b7b0
        pagination:
          limit: 25
          offset: 0
        sort:
        - property: /changeLog/updatedDateTime
          direction: DESC
    CreateConnectionDryRunResponse-Colo2Network-EVPLAN_VC:
      value:
        type: EVPLAN_VC
        name: My Colo to Network EVPLAN_VC Connection
        bandwidth: 50
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              href: https://api.equinix.com/fabric/v4/ports/2a4fb415-5a7f-436f-bae6-02f5e403deec
              uuid: 2a4fb415-5a7f-436f-bae6-02f5e403deec
            linkProtocol:
              type: DOT1Q
              vlanTag: 1137
        zSide:
          accessPoint:
            type: NETWORK
            network:
              href: https://api.equinix.com/fabric/v4/networks/25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
              uuid: 25f8884e-85e3-4eaa-8ea9-a7ad2ca5b3c2
        project:
          projectId: a347a370-39b5-427f-c330-7471a9abd9
        order:
          purchaseOrderNumber: 1-129105284100
        notifications:
        - type: ALL
          emails:
          - test@test.com
    ConnectionSearchCustorg:
      value:
        filter:
          and:
          - property: /account/orgId
            operator: '='
            values:
            - 91997
        pagination:
          limit: 25
          offset: 0
          total: 0
        sort:
        - property: /changeLog/updatedDateTime
          direction: DESC
    ConnectionDeletionResponse:
      value:
        href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
        type: EVPL_VC
        uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
        name: My-Layer2-Connection
        order:
          purchaseOrderNumber: 1-129105284100
          billingTier: Up to 200 MB /*Proposal*/
        bandwidth: 100
        aSide:
          accessPoint:
            type: COLO
            port:
              href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
              type: XF_PORT
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            linkProtocol:
              type: DOT1Q
              vlanTag: 1001
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/SV
              metroCode: SV
        zSide:
          accessPoint:
            type: SP
            profile:
              href: https://api.equinix.com/fabric/v4/serviceProfiles/20d32a80-0d61-4333-bc03-707b591ae2f5
              type: L2_PROFILE
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f5
            port:
              href: https://api.equinix.com/fabric/v4/ports/20d32a80-0d61-4333-bc03-707b591ae2f4
              type: XF_PORT
              uuid: 20d32a80-0d61-4333-bc03-707b591ae2f4
            linkProtocol:
              type: QINQ
              vlanSTag: 1002
              vlanCTag: 1001
            location:
              metroHref: https://api.equinix.com/fabric/v4/metros/SV
              metroCode: SV
        notifications:
        - type: ALL
          emails:
          - test@equinix.com
          - test1@equinix.com
        operation:
          equinixStatus: DEPROVISIONING
          providerStatus: DEPROVISIONING
        changeLog:
          createdDateTime: 2020-05-21 10:30:00+00:00
          updatedDateTime: 2020-05-21 10:30:00+00:00
          deletedDateTime: 2020-05-21 10:30:00+00:00
          createdBy: 232216
          updatedBy: 344339
          deletedBy: 232216
    COLO2COLOwithDot1Q-QinQ:
      value:
        type: EVPL_VC
        name: My-Layer2-Connection-3
        bandwidth: 1000
        redundancy:
          priority: PRIMARY
        aSide:
          accessPoint:
            type: COLO
            port:
              uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
            linkProtocol:
              type: DOT1Q
              vlanTag: 1001
        order:
          purchaseOrderNumber: po1234
        zSide:
          accessPoint:
            type: COLO
            port:
              uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
            linkProtocol:
              type: QINQ
              vlanSTag: 1001
              vlanCTag: 1002
        notifications:
        - type: ALL
          emails:
          - test@test.com
    GenericConnectionResponseExample:
      value:
        href: https://api.equinix.com/fabric/v4/connections/650fa2db-37fc-4eca-a9ac-1bb33481b03f
        type: EVPL_VC
        uuid: 650fa2db-37fc-4eca-a9ac-1bb33481b03f
        name: E2E-CON-280122023234849
        state: PROVISIONED
        operation:
          providerStatus: AVAILABLE
          equinixStatus: PROVISIONED
        order:
          purchaseOrderNumber: PO754587184643
        notifications:
        - type: ALL
          emails:
          - fake@mail.com
        account:
          accountNumber: 270001
          orgId: 91997
          globalOrgId: 0016u000003JZ4sAAG
        changeLog:
          createdBy: testBuyer
          createdDateTime: 2022-01-28 02:32:36.402000+00:00
        bandwidth: 50
        redundancy:
          group: 4647f20d-6339-4e83-b31e-b35da3060d63
          priority: PRIMARY
        isRemote: false
[...]
