openapi: 3.2.0
info:
  title: Equinix Fabric API v4 Health API
  description: 'Equinix Fabric is an advanced software-defined interconnection solution that enables you to directly, securely and dynamically connect to distributed infrastructure and digital ecosystems on platform Equinix via a single port, Customers can use Fabric to connect to: </br> 1. Cloud Service Providers - Clouds, network and other service providers.  </br> 2. Enterprises - Other Equinix customers, vendors and partners.  </br> 3. Myself - Another customer instance deployed at Equinix. </br> </br> <b>Integrations (SDKs, Tools) links:</b> </br> <a href="https://github.com/equinix/equinix-sdk-java">Fabric Java SDK</a> </br> <a href="https://github.com/equinix/equinix-sdk-go">Fabric Go SDK</a> </br> <a href="https://github.com/equinix/equinix-sdk-python">Fabric Python SDK</a> </br> <a href="https://registry.terraform.io/providers/equinix/equinix/latest/docs">Equinix Terraform Provider</a> </br> <a href="https://registry.terraform.io/modules/equinix/fabric/equinix/latest">Fabric Terraform Modules</a> </br> <a href="https://www.pulumi.com/registry/packages/equinix/">Equinix Pulumi Provider</a> </br>'
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
  license:
    name: Equinix Inc
    url: https://developer.equinix.com/agreement
  version: '4.28'
servers:
- url: https://api.equinix.com
  description: Equinix Inc
security:
- BearerAuth: []
tags:
- name: Health
paths:
  /fabric/v4/health:
    get:
      tags:
      - Health
      summary: Get service status
      description: GET All service health statys with an option query parameter to return all Equinix Fabric customer in which the customer has a presence.
      operationId: getStatus
      parameters: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                metroExample:
                  $ref: '#/components/examples/healthResponse'
components:
  schemas:
    HealthResponse:
      type: object
      properties:
        href:
          type: string
          description: The Canonical URL at which the resource resides.
        version:
          type: string
          description: Indicator of a version
        release:
          type: string
          description: release details.
        state:
          type: string
          description: status of a service
        apiServices:
          $ref: '#/components/schemas/ApiServices'
      description: GET Services Health
    ApiServices:
      type: object
      properties:
        route:
          type: string
          description: service routes
        status:
          type: string
          description: service status
        changedDateTime:
          type: string
          description: service status change date
      description: Available services details
  examples:
    healthResponse:
      value:
        href: null
        version: '4.4'
        release: 2022.4.0
        description: Equinix Fabric Health Check API
        state: HEALTHY
        apiServices:
        - route: /prices
          status: UP
          changedDateTime: 2022-10-03 18:37:54.760000+00:00
        - route: /connections
          status: UP
          changedDateTime: 2022-10-03 18:37:56.818000+00:00
        - route: /ports
          status: UP
          changedDateTime: 2022-10-03 18:37:56.886000+00:00
        - route: /serviceTokens
          status: UP
          changedDateTime: 2022-10-03 18:37:56.919000+00:00
        - route: /stats
          status: UP
          changedDateTime: 2022-10-03 18:37:56.951000+00:00
        - route: /routers
          status: UP
          changedDateTime: 2022-10-03 18:37:57.271000+00:00
        - route: /serviceProfiles
          status: UP
          changedDateTime: 2022-10-03 18:38:01.298000+00:00
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Find more information on Equinix Docs Portal
  url: https://docs.equinix.com/fabric/
