openapi: 3.0.1
info:
  title: Equinix API Authentication PasswordResetTokens API
  description: 'Equinix APIs use the OAuth 2.0 for authentication and authorization. Equinix supports the resource owner password and the client credentials flow.

    To begin, obtain OAuth 2.0 client credentials from the Equinix Developer Console under "My Apps". Then your client application  requests an access token from the Equinix API Authorization endpoint, extracts the access_token from the response, and sends the Bearer token to the API that you want to access'
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
  version: '1.2'
servers:
- url: https://api.equinix.com
tags:
- description: 'Password Reset Token Management

    '
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#security-settings
  name: PasswordResetTokens
paths:
  /reset-password:
    delete:
      description: Resets current user password.
      operationId: resetPassword
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewPassword'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Reset current user password
      tags:
      - PasswordResetTokens
    post:
      description: Creates a password reset token
      operationId: createPasswordResetToken
      parameters:
      - description: Email of user to create password reset token
        in: query
        name: email
        required: true
        schema:
          type: string
      responses:
        '201':
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a password reset token
      tags:
      - PasswordResetTokens
components:
  schemas:
    NewPassword:
      example:
        new_password: new_password
      properties:
        new_password:
          type: string
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
x-eqx-api-linter-skip-rules:
- 3
- 38
